USE [master]
GO
/****** Object:  Database [Lab_Web_04]    Script Date: 11/5/2020 3:17:54 PM ******/
CREATE DATABASE [Lab_Web_04]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab_Web_04', FILENAME = N'D:\My SQL server\root\MSSQL12.MSSQLSERVER\MSSQL\DATA\Lab_Web_04.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Lab_Web_04_log', FILENAME = N'D:\My SQL server\root\MSSQL12.MSSQLSERVER\MSSQL\DATA\Lab_Web_04_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab_Web_04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab_Web_04]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/5/2020 3:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [varchar](10) NOT NULL,
	[CustomerName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/5/2020 3:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [varchar](10) NOT NULL,
	[OrderDate] [datetime] NULL,
	[CustomerID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/5/2020 3:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [varchar](10) NOT NULL,
	[PizzaCode] [varchar](10) NOT NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[PizzaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pizzas]    Script Date: 11/5/2020 3:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pizzas](
	[PizzaCode] [varchar](10) NOT NULL,
	[PizzaName] [varchar](50) NULL,
	[Price] [int] NULL,
	[PicURL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PizzaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [Address], [Phone]) VALUES (N'C02', N'Tuan Anh', N'Ha Noi', N'123123')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [CustomerID]) VALUES (N'R02', CAST(N'2008-11-11 00:00:00.000' AS DateTime), N'C02')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [CustomerID]) VALUES (N'R03', CAST(N'2008-09-09 00:00:00.000' AS DateTime), N'C02')
INSERT [dbo].[OrderDetails] ([OrderID], [PizzaCode], [Price], [Quantity]) VALUES (N'R02', N'P01', 100, 5)
INSERT [dbo].[OrderDetails] ([OrderID], [PizzaCode], [Price], [Quantity]) VALUES (N'R02', N'P03', 130, 6)
INSERT [dbo].[Pizzas] ([PizzaCode], [PizzaName], [Price], [PicURL]) VALUES (N'P01', N'Product  1', 100, N'..image/p01.jpg')
INSERT [dbo].[Pizzas] ([PizzaCode], [PizzaName], [Price], [PicURL]) VALUES (N'P03', N'Product 3', 130, N'..image/p01.jpg')
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([PizzaCode])
REFERENCES [dbo].[Pizzas] ([PizzaCode])
GO
USE [master]
GO
