<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                <a href="#">
                    <img src="https://cuocduaso.fpt.com.vn/sites/default/files/fpt_university.png" alt="FPT" style="width: 160px" />
                </a>
            </div>
            <div class="header__navbar">
                <ul class="list-unstyled">
                    <!--<li class="has-sub">
                        <a href="#">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                            <span class="bot-line"></span>
                        </a>
                        <ul class="header3-sub-list list-unstyled">
                            <li>
                                <a href="index.html">Dashboard 1</a>
                            </li>
                            <li>
                                <a href="index2.html">Dashboard 2</a>
                            </li>
                            <li>
                                <a href="index3.html">Dashboard 3</a>
                            </li>
                            <li>
                                <a href="index4.html">Dashboard 4</a>
                            </li>
                        </ul>
                    </li>-->
                    <li  th:each="authority : ${#authentication.getPrincipal().authorities}"
                         th:if="${authority.getAuthority() == 'HeadAuthen' || authority.getAuthority() == 'LecturerAuthen'}">
                        <a th:href="@{/db/dashboard}">
                            <i class="fas fa-tachometer-alt"></i>
                            <span class="bot-line"></span>Dashboard</a>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/forum}">
                            <i class="fas fa-group"></i>
                            <span class="bot-line"></span>Forum</a>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <i class="fas fa-copy"></i>
                            <span class="bot-line"></span>Capstone Project</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li th:each="authority : ${#authentication.getPrincipal().authorities}"
                                th:if="${authority.getAuthority() == 'MemberAuthen'}">
                                <a th:href="@{/st/registerproject}">Create Capstone</a>
                            </li>

                            <li th:each="authority : ${#authentication.getPrincipal().authorities}"
                                th:if="${authority.getAuthority() == 'MemberAuthen'|| authority.getAuthority() == 'LeaderAuthen'}">
                                <a id="linkCap" >My Capstone</a>
                            </li>

                            <li th:each="authority : ${#authentication.getPrincipal().authorities}"
                                th:if="${authority.getAuthority() == 'HeadAuthen' || authority.getAuthority() == 'LecturerAuthen' || authority.getAuthority() == 'TrainingDepAuthen' }">
                                <a th:href="@{/ad/capstoneproject}">Manage Capstone</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/lecturers}">
                            <i class="fas  fa-user"></i>
                            <span class="bot-line"></span>Supervisors</a>
                    </li>
                    <li class="has-sub" th:each="authority : ${#authentication.getPrincipal().authorities}"
                        th:if="${authority.getAuthority() == 'TrainingDepAuthen'}">
                        <a href="#">
                            <i class="fas  fa-briefcase"></i>
                            <span class="bot-line"></span>Manage User</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li >
                                <a th:href="@{/ad/manageuser}">Create Users</a>
                            </li>

                            <li >
                                <a  th:href="@{/student-managements}" >Manage Student</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub" th:each="authority : ${#authentication.getPrincipal().authorities}"
                        th:if="${authority.getAuthority() != 'HeadAuthen' && authority.getAuthority() != 'TrainingDepAuthen'}">
                        <a href="#">
                            <i class="fas  fa-bullhorn"></i>
                            <span class="bot-line"></span>Reports</a>
                        <ul class="header3-sub-list list-unstyled">

                            <li >
                                <a th:if="${#request.userPrincipal != null}" th:href="@{/list-reports}">Report Lists</a>
                            </li>
                            <li >
                                <a th:if="${#request.userPrincipal != null}" th:href="@{/my-reports}">My Reports</a>
                            </li>
                            <li th:each="authority : ${#authentication.getPrincipal().authorities}"
                                th:if="${authority.getAuthority() == 'MemberAuthen' || authority.getAuthority() == 'LeaderAuthen'}" >
                                <a th:href="@{/report}">Create Report</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub" th:each="authority : ${#authentication.getPrincipal().authorities}"
                        th:if="${authority.getAuthority() == 'TrainingDepAuthen'}">
                        <a href="#">
                            <i class="fas  fa-bullhorn"></i>
                            <span class="bot-line"></span>Notifications</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li >
                                <a th:if="${#request.userPrincipal != null}" th:href="@{/td/notification}">Create Notifications</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub" th:each="authority : ${#authentication.getPrincipal().authorities}"
                        th:if="${authority.getAuthority() == 'TrainingDepAuthen'}">
                        <a href="#">
                            <i class="fas  fa-bookmark"></i>
                            <span class="bot-line"></span>History</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li >
                                <a th:if="${#request.userPrincipal != null}" th:href="@{/history-records}">History List</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub" th:each="authority : ${#authentication.getPrincipal().authorities}"
                         th:if="${authority.getAuthority() == 'MemberAuthen' || authority.getAuthority() == 'LeaderAuthen'}">
                       <a href="#">
                            <i class="fas fa-american-sign-language-interpreting"></i>
                            <span class="bot-line"></span>Model</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li >
                                <a th:href="@{/about}" target="_blank">About</a>
                            </li>
                            <li >
                                <a th:href="@{/model}" target="_blank">Tutorial Model</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub" th:each="authority : ${#authentication.getPrincipal().authorities}"
                        th:if="${authority.getAuthority() == 'MemberAuthen'|| authority.getAuthority() == 'LeaderAuthen'}">
                       <a href="#">
                            <i class="fas fa-american-sign-language-interpreting"></i>
                            <span class="bot-line"></span>Guide</a>
                        <ul class="header3-sub-list list-unstyled">
                            <li >
                                <a th:href="@{/createreport}" target="_blank">Create Report Tutorial</a>
                            </li>
                            <li >
                                <a th:href="@{/createcapstone}" target="_blank">Create Capstone Tutorial</a>
                            </li>
                             <li >
                                <a th:href="@{/jira}" target="_blank">Export Jira to Excel Tutorial</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="noti-wrap justify-content-end mr-4" style="width: 75%">
                <div class="noti__item js-item-menu mt-2-lg" id="drd-chat">
                    <i class="far fa-comments" style="font-size: 22px"></i>
                    <span class="quantity" hidden id="numNewMessage"></span>
                    <div class="mess-dropdown js-dropdown mt-2" id="drd-chat-content" style="border-radius: 15px">

                    </div>
                </div>
            </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img id="imageCockiee" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#" id="user-name"></a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img id="image-dropdown" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#" id="username-dropdown"></a>
                                    </h5>
                                    <span class="email"><h5 th:if="${#request.userPrincipal != null}" th:utext="${#request.userPrincipal.name}"></h5></span>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a th:if="${#request.userPrincipal != null}" th:href="@{/edit-user}">
                                    <i class="fas fa-book"></i>Edit Profile</a>
                            </div>
                            <div class="account-dropdown__footer">
                                <a th:if="${#request.userPrincipal != null}" th:href="@{/j_spring_security_logout}">
                                    <i class="fas fa-sign-out-alt"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="chat-container" data-toggle="modal"
         tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="chatbox-content"></div>
        </div>
    </div>
    <div id="notification-container" class="w-20 float-right position-absolute" style="height: 85vh;"></div>
</header>

<th:block th:include="home/_script"></th:block>
<th:block th:include="home/_css"></th:block>
<script>
    $().ready(function () {
        var userName ="userFullName=";
        var path ="userImage=" ;
        var idDetail ="idDetail=" ;
        var userId ="userId=" ;
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(userName) == 0) {
                var nameArray = c.substring(userName.length, c.length).split('_');

                    var name = nameArray[0] + " " + nameArray[nameArray.length -1];
                $("#user-name").html(name + ' ' + '<i class="fas fa-angle-down"></i>');
                $("#imageCockiee").attr("alt",name);
                $("#username-dropdown").text(name);
            }
            if (c.indexOf(path) == 0) {
                $("#imageCockiee").attr("src",c.substring(path.length, c.length));
                $("#image-dropdown").attr("src",c.substring(path.length, c.length));
            }

            if (c.indexOf(idDetail) == 0) {
                if(c.substring(idDetail.length, c.length).length != 0){
                    $("#linkCap").attr("href","/project-detail/"+c.substring(idDetail.length, c.length));
                }else {
                    $("#linkCap").css('display','none');
                }
            }

            if (c.indexOf(userId) == 0) {
                $("#username-dropdown").attr("href","/user/"+c.substring(userId.length, c.length));
                $("#user-name").attr("href","/user/"+c.substring(userId.length, c.length));
            }


        }
        $.ajax({
            url: "/notifications",
            type: "GET",
            success: function (data) {
                $("#notification-container").html(data)
            },
            error: function (xhr) {
                if (xhr.status == 302 || xhr.status == 200) {
                    window.location.href = "/forum";
                }
            },
        });
    })
</script>
<script th:src="@{/js/chatting/chat-noti.js}"></script>