<div
	style="display: flex; justify-content: right; padding-top: 25px; padding-bottom: 20px"
	class="col-12 col-lg-4">
	<!-- Popular News Widget -->
	<div class="popular-news-widget mb-30"
		style="border: 1px solid rgba(0, 0, 0, .125); border-radius: .25rem; box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);">
		<h3>News</h3>
		<!-- News -->
		<div class="single-popular-post">
			<a href="#">
				<h6>
					<span>abc....</span>
				</h6>
			</a>
			<p>April 14, 2018</p>
		</div>
	</div>
</div>