<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Project Information</title>

    <th:block th:include="home/_css"></th:block>

<body>
<div class="body">
    <div class="page-wrapper">
        <div class="page-container">
            <th:block th:include="home/_header"></th:block>
            <th:block th:include="home/_header-mobile"></th:block>
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Project Information</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t-25">
                            <div class="w-80 p-1" id="content-body">
                                <hr>
                                <form th:action="@{/approve}" th:object="${detail}" method="post">
                                    <!-- TOP CAMPAIGN-->
                                    <input th:value="${detail.id}" name="id" id="id" hidden>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card" style="margin-top: 30px; margin-bottom: 30px;">
                                                <div class="overview-wrap" style="margin-left: 22px; margin-bottom: 20px;">
                                                    <div class="row ml-1">
                                                        <div>
                                                            <h4 class="title" style="color: green; margin-top: 20px;"
                                                                th:text="${notification}"></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2" style="margin-bottom: 20px; float: right; margin-right: 20px">
                                                    <div class="ml-auto mr-3">
                                                        <a th:if="${checkWeek == true && checkUserRegister == true && checkBTChangName == true}"
                                                           class="btn btn-success mt-2" th:href="@{'/changing-name-project/' + ${detail.id}}">Change Name</a>
                                                        <a th:if="${checkUserRegister == true}" class="btn btn-success mt-2" th:href="@{'/edit-project/' + ${detail.id}}">Edit</a>
                                                    </div>

                                                </div>
                                                <div class="m-4">
                                                    <h2>Information</h2>
                                                    <table class="table table-bordered mt-4 mb-4">
                                                        <tr>
                                                            <th style="background: #efefef">Name Project</th>
                                                            <td th:text=${detail.name}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Name Project Other language</th>
                                                            <td th:text=${detail.nameOther}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Name Project VietNamese</th>
                                                            <td th:text=${detail.nameVi}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Name Project Abbreviation</th>
                                                            <td th:text=${detail.nameAbbreviation}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Profession</th>
                                                            <td th:text=${detail.profession.name}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Program</th>
                                                            <td th:text=${detail.program}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Specialty</th>
                                                            <td th:text=${detail.specialty}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Document</th>
                                                            <td th:text=${detail.document}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Description</th>
                                                            <td th:text=${detail.description}></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="background: #efefef">Status</th>
                                                            <td th:text=${status}></td>
                                                        </tr>
                                                    </table>
                                                    <h2>Member</h2>
                                                    <table class="table table-bordered mt-4 mb-4">
                                                        <tbody>
                                                        <tr>
                                                            <th style="background: #efefef">User</th>
                                                            <td style="background: #efefef">Role</td>
                                                            <td style="background: #efefef">Status</td>
                                                        </tr>
                                                        <tr th:each="u: ${userRolesDTOs}">
                                                            <th style="background: #efefef">
                                                                <a th:href="@{'/user/' + ${u.id}}"
                                                                   th:text=${u.username}></a></th>
                                                            <td th:each="r: ${u.role}"><p th:text=${r}></p></td>
                                                            <td>Confirmed</td>
                                                        </tr>
                                                        <tr th:each="u: ${userprojectWaitingApprove}">
                                                            <th style="background: #efefef">
                                                                <a th:href="@{'/user/' + ${u.id}}"
                                                                   th:text=${u.username}></a></th>
                                                            <td th:each="r: ${u.role}"><p th:text=${r}></p></td>
                                                            <td>Wait for confirmation</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="ml-auto mr-3">
                                            <input th:if="${check_capstone ==true}" class="btn btn-success"
                                                   name="approve" type="submit" value="Confirm" id="approve"
                                                   onclick="return confirmApprove();">
                                            <input th:if="${check_capstone ==true}" class="btn btn-danger" name="reject"
                                                   type="submit" value="Reject" id="reject"
                                                   onclick="return confirmReject();">
                                        </div>
                                    </div>
                                </form>
                                <form th:action="@{/sendtd}" th:object="${detail}" method="post">
                                    <input th:value="${detail.id}" name="projectId" id="projectId" hidden>
                                    <div class="row mt-2">
                                        <div class="ml-auto mr-3">
                                            <input th:if="${checkUserRegister == true && checkStatusProject == true}" class="btn btn-success"
                                                   name="approve" type="submit" value="Submit" id="submit" onclick="return confirmSubmit()">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                </script>
            </div>
            <th:block th:include="home/_footer"></th:block>
        </div>
    </div>
</div>

<th:block th:include="home/_script"></th:block>
<script>
    function confirmApprove() {
        if (confirm('Are you sure you want to approve?')) {
            $.LoadingOverlay("show", {
                size: 50,
                maxSize: 50,
            });
            return true;
        }
        return false;
    };
</script>
<script>
    function confirmReject() {
        if (confirm('Are you sure you want to reject?')) {
            $.LoadingOverlay("show", {
                size: 50,
                maxSize: 50,
            });
            return true;
        }
        return false;
    };
</script>
<script>
    function confirmSubmit() {
        if (confirm('Members who are waiting for approval will be deleted. Are you sure you want to submit?')) {
            $.LoadingOverlay("show", {
                size: 50,
                maxSize: 50,
            });
            return true;
        }
        return false;
    };
</script>
</body>
</html>
