<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Template</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">


<th:block th:include="home/_css"></th:block>

</head>
<body>
	<div
		class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
		<th:block th:include="home/_header"></th:block>
		<div class="app-main">
			<div class="app-sidebar sidebar-shadow">
				<th:block th:include="home/_menu"></th:block>
			</div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="fas fa-home icon-gradient bg-mean-fruit"> </i>
								</div>
								<div>Forum</div>
							</div>
						</div>
					</div>
					<div class="row h-auto">
						<div class="card w-75">
							<div class="card-header pt-3">
								<button class="card-title btn btn-primary" id="btn-addTopic"
									data-toggle="modal" data-target="#topic-container">Add
									Topic</button>
							</div>
							<div class="card-body">

								<div class="panel panel-default">
									<div class="">
										<a href="#" class="pull-right">View all</a>
										<h4>Title here</h4>
									</div>
									<div class="panel-body">
										<a href="#" class="text-secondary">DucDD</a> <a href="#"
											class="pull-right">Message</a>
										<div class="clearfix"></div>
										<hr>

										<p>Comment here</p>

										<hr>
										<form>
											<div class="input-group">
												<input class="form-control" placeholder="Add a comment.."
													type="text">
											</div>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<th:block th:include="home/_footer"></th:block>
		</div>
		<div class="modal fade" id="topic-container" data-toggle="modal"
			tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="modal-content"></div>
			</div>
		</div>
	</div>
	<th:block th:include="home/_script"></th:block>

	<script th:src="@{/js/forum/forum.js}"></script>
</body>
</html>
