<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Forum</title>


<th:block th:include="home/_css"></th:block>
<body>
	<div
		class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
		<th:block th:include="home/_header"></th:block>
		<div class="app-main">
			<div class="app-sidebar sidebar-shadow">
				<th:block th:include="home/_menu"></th:block>
			</div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="fas fa-home icon-gradient bg-mean-fruit"> </i>
								</div>
								<div>Forum</div>
							</div>
						</div>
					</div>
					<div class="w-75" id="content-body">
						<div class="card mb-2">
							<div class="card-header pt-3" style="background-color: #edeef0">
								<button class="card-title btn btn-primary mt-2"
									id="btn-addTopic" data-toggle="modal"
									data-target="#topic-container">Add Topic</button>
							</div>
						</div>
						<div id="post-container"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="topic-container" data-toggle="modal"
			tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="modal-content"></div>
			</div>
		</div>
	</div>
	<th:block th:include="home/_footer"></th:block>
	<th:block th:include="home/_script"></th:block>
	<script th:src="@{/js/forum/forum.js}"></script>
</body>
</html>
