<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Template</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">


<th:block th:include="home/_css"></th:block>

</head>
<body>
	<div
		class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
		<th:block th:include="home/_header"></th:block>
		<div class="app-main">
			<div class="app-sidebar sidebar-shadow">
				<th:block th:include="home/_menu"></th:block>
			</div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="fas fa-home icon-gradient bg-mean-fruit"> </i>
								</div>
								<div>Title</div>
							</div>
						</div>
					</div>
					<div class="row h-auto w-75">
						<section id="team" class="pb-5">
							<div class="container">
								<h5 class="section-title h1">LIST LECTURERS</h5>
								<div class="row">
									<!-- Team member -->
									<!-- ./Team member -->
									<!-- Team member -->
									<div class="col-xs-12 col-sm-6 col-md-4"
										th:each="lecturer :${lecturer}">
										<div class="image-flip"
											ontouchstart="this.classList.toggle(&#39;hover&#39;);">
											<div class="mainflip">
												<div class="frontside">
													<div class="card mt-4">
														<div class="card-body text-center">
															<p>
																<img class=" img-fluid"
																th:src="${lecturer.image}"
																	alt="card image">
															</p>
															<!-- <p>
																<img class=" img-fluid"
																th:src="@{/image/profile/trungnt1.jpg}"
																	alt="card image">
															</p> -->
															<a class="card-title" th:href="@{'/user/' + ${lecturer.id}}"><h6 class="card-title"
																	th:text=${lecturer.userName}></h6></a>
															<p class="card-text">Lecturer at FPT University</p>
															<p class="card-text" th:text=${lecturer.phone}></p>
															<p class="card-text" th:text=${lecturer.email}></p>
															<a href="#" class="btn btn-primary">Choose</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- ./Team member -->
									<!-- Team member -->

									<!-- ./Team member -->

								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<th:block th:include="home/_footer"></th:block>
	</div>
	<th:block th:include="home/_script"></th:block>


</body>
</html>
