<html lang="en" xmlns:th="http://www.thymeleaf.org">
<input type="text" id="idproject" th:value="${id}" hidden="true">
<table id="myTable" class="table table-data2">
    <thead>
    <tr>
        <th>Username</th>
        <th>
            Role
        </th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
<tr class="tr-shadow list-post-container"  th:each="post :${capstoneProjectDetailPage.content}" th:id="${post?.id}">
    <td th:text="${post?.user_name}"></td>
    <td th:text="${post?.rolename}"></td>
    <td th:text="${post?.first_name} +' ' + ${post?.last_name}"></td>
    <td th:text="${post?.phone}"></td>
    <td th:text="${post?.email}"></td>
    <td th:text="${post?.nameStatus}"></td>
    <td><a href="#" class="chat-private-user" th:username="${post?.user_name}"><i class="fas fa-comment-dots"></i></a></td>
    <td>
        <div class="table-data-feature">
            <button th:if="${((post.status_id == 5 || post.status_id == 9) && role == 4) || (role == 5 && ( post.status_id == 5 || post.status_id == 6 || post.status_id == 8 || post.status_id == 14 || post.status_id == 16 ))}" class="item" th:onclick="|ProjectDetailApp(${post?.id})|" >
                <i class="fas fa-check"></i>
            </button>

            <button th:if="${((post.status_id == 5 || post.status_id == 9)  && role == 4) || (role == 5 && ( post.status_id == 5 || post.status_id == 6 || post.status_id == 8 || post.status_id == 14 || post.status_id == 16))}" class="item" th:onclick="|ProjectDetailReject(${post?.id})|" >
                <i class="fas fa-times"></i>
            </button>
        </div>
    </td>

</tr>
<tr th:if="${checkEditDetail == true && role == 5}" style="background: antiquewhite;">
    <td colspan="2" th:if="${addStudent == 0}">
        <a class="btn btn-primary" id="btn-AddDetail"  data-toggle="modal" data-target="#Add-ProjectDetail">
            <span><i class="fas fa-plus"></i> ADD STUDENT</span>
        </a>

    </td>
    <td colspan="7">
        <a class="btn btn-primary" id="btn-EditSupervisors"  data-toggle="modal" data-target="#Edit-Supervisors">
            <span><i class="fas fa-plus"></i>Edit Supervisors</span>
        </a>
    </td>
</tr>
</tbody>
</table>
<script>
    $(document).on("click", ".chat-private-user", function (e) {
        $.LoadingOverlay("show", {
            size: 50,
            maxSize: 50,
        });
        var usernameChat = $(this).attr('username');
        let roomId = 'pr_' + usernameChat + '_' + Cookies.get("username");
        let roomId2 = 'pr_' + Cookies.get("username") + '_' + usernameChat;
        $.ajax({
            url: "/check-username-available/" + usernameChat,
            type: "GET",
            success: function (data) {
                $.ajax({
                    url: "/find-room",
                    type: "GET",
                    data: {
                        'room1' : roomId,
                        'room2' : roomId2,
                    },
                    success: function (data) {
                        if(data !== 'null' && data !== '') {
                            window.location.href = "/messenger/" + data;
                        } else {
                            window.location.href = "/messenger/" + roomId;
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status == 302 || xhr.status == 200) {
                            // window.location.href = "/forum";
                        }
                    },
                });
            },
            error: function (xhr) {
                if (xhr.status == 302 || xhr.status == 200) {
                    // window.location.href = "/forum";
                }
            },
        });
    })

</script>



