	<div class=" ">
		<h2>Global News</h2>
		<div class="single-popular-post"
			 th:each="notifications : ${notifications}">
			<a href="#">
				<h6>
					<span th:text="${notifications.title}"></span>
				</h6>
			</a>
			<p>create date</p>
		</div>
	</div>
	<div class=" ">
		<h2>News</h2>
		<div class="single-popular-post"
			 th:each="notifications : ${notificationByUser}">
			<a href="#">
				<h6>
					<span th:text="${notifications.title}"></span>
				</h6>
			</a>
			<p>create date</p>
		</div>
	</div>

