	<div class="p-2">
		<h2>Global News</h2>
		<div class="single-popular-post pt-2"
			 th:each="notifications : ${notifications}">
			<a th:href="@{'/notification-detail/' + ${notifications.id}}">
				<h6>
					<span style="color: rgb(74, 137, 191)" th:text="${notifications.title}"></span>
				</h6>
			</a>
			<p th:text="${notifications.created_date}" style="font-size: 14px"></p>
		</div>
		<br>
		<div>
			<a href="http://localhost:8080/list-news">
				<h5 style="color: rgb(74, 137, 191)" >More...</h5>
			</a>
		</div>
	</div>
	<div class="p-2" th:if="${check_noti_detail == true}">
		<h2>Notification</h2>
		<div class="single-popular-post pt-2"
			 th:each="notifications : ${notificationByUser}">
			<a th:href="@{'/notification-detail/' + ${notifications.id}}">
				<h6>
					<span style="color: rgb(74, 137, 191)" th:text="${notifications.title}"></span>
				</h6>
			</a>
			<p th:text="${notifications.created_date}" style="font-size: 14px"></p>
		</div>
		<br>
		<div>
			<a th:href="@{'/list-news-user/' + ${user_id}}" >
				<h5 style="color: rgb(74, 137, 191)" >More...</h5>
			</a>
		</div>
	</div>