<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Register Project</title>
    <th:block th:include="home/_css"></th:block>
</head>
<body>
<div class="page-wrapper">
    <div class="page-container">
        <th:block th:include="home/_header"></th:block>
        <th:block th:include="home/_header-mobile"></th:block>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Register Project</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        <div class="w-80" id="content-body">
                            <div id="post-container">
                                <div class="row h-auto">
                                    <div class="card w-100 mx-4">
                                        <div class="card-body">
                                            <div class="panel panel-default">
                                                <div class="panel-body" id="form-content">
                                                    <th:block th:include="home/register-project-form.html"></th:block>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <th:block th:include="home/_footer"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="home/_script"></th:block>
<script th:src="@{/js/register-project/register-project.js}"></script>
</body>
</html>

