<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Home</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">


<th:block th:include="home/_css"></th:block>

</head>
<body>
	<div
		class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
		<th:block th:include="home/_header"></th:block>
		<div class="app-main">
			<div class="app-sidebar sidebar-shadow">
				<th:block th:include="home/_menu"></th:block>
			</div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="fas fa-home icon-gradient bg-mean-fruit"> </i>
								</div>
								<div>Register Project</div>
							</div>
						</div>
					</div>
					<div class="row h-auto">
						<div class="card w-75">
							<div class="card-body">
								<div class="panel panel-default">
									<div class="panel-body" id="form-content">

										<th:block th:include="home/register-project-form.html"></th:block>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- 			<th:block th:include="home/_footer"></th:block> -->
		<div class="modal fade" id="member-container" data-toggle="modal"
			 tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
			 aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="modal-content"></div>
			</div>
		</div>
	</div>


	<th:block th:include="home/_script"></th:block>
	<script th:src="@{/js/register-project/register-project.js}"></script>


</body>
</html>
