<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Report</title>


    <th:block th:include="home/_css"></th:block>

</head>
<body>
<div class="page-wrapper">
    <div class="page-container">
        <th:block th:include="home/_header"></th:block>
        <th:block th:include="home/_header-mobile"></th:block>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Report Detail</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        <div class="w-80" id="content-body">
                            <div class="card" id="report-container">
                                <th:block th:include="home/report-detail-container"></th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <th:block th:include="home/_footer"></th:block>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="topic-container" data-toggle="modal"
     tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-content"></div>
    </div>
</div>
</div>
</div>
</div>
<th:block th:include="home/_script"></th:block>
<script th:src="@{/js/report/report.js}"></script>
</body>
</html>