<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Template</title>


    <th:block th:include="home/_css"></th:block>

</head>
<body>
<div class="page-wrapper">
    <div class="page-container">
        <th:block th:include="home/_header"></th:block>
        <th:block th:include="home/_header-mobile"></th:block>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Report Detail</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        <div class="w-80" id="content-body">
                            <div class="card">
                                <div id="post-container" style="margin-top: 20px;">
                                    <!--Content Here-->
                                    <div class="row" style="width: 90%; margin-left: auto;margin-right: auto;">
                                        <div class="col-md-12">
                                            <table>
                                                <tbody>
                                                <tr style="border-bottom: 0 none">
                                                    <td>
                                                        <div>
                                                            <div id="ctl00_mainContent_divContent"><span
                                                                    class="title-1"><p th:text=${title}></p></span>
                                                                <hr>
                                                                <br/>
                                                                <th:block th:utext="${content}"></th:block>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr style="border-bottom: 0 none">
                                                    <td>
                                                        <br>

                                                        <table width="100%" style="border: 1px solid transparent;"
                                                               id="cssTable">
                                                            <tbody>
                                                            <tr>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                    <!--Content Here-->
                                </div>
                                <div class="card-body pt-2">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <a class="text-secondary"
                                               style="font-size: 14px"></a>
                                            <p class="text-secondary" style="font-size: 14px"></p>
                                            <div class="p-2"
                                                 style="max-height: 400px; overflow-y: auto; border-radius: 15px"
                                            ></div>

                                            <div class="my-2 p-2 comment-container"
                                                 style="background-color: #e5e5e5; width: fit-content; border-radius: 15px"
                                                 th:each="comment :${comments}">
                                                <a th:href="@{'/user/' + ${comment.sender.id}}" class=""
                                                   th:text="${comment.sender.username}"
                                                   style="color: #666; font-weight: bold"></a> <br> <span
                                                    th:text=${comment.content}></span>
                                            </div> <hr>
                                            <form class="form-comment mb-0 mt-4" th:action="@{/report-comment}"
                                                  th:object="${commentDTO}" method="post">
                                                <input name="postId" th:value="${id}" hidden/>
                                                <div class="input-group">
<!--                                                    <input type="text" id="content" name="content"-->
<!--                                                           hidden="true"/> <input-->
                                                    <input class="form-control" name="content"
                                                        placeholder="Write a comment.." type="text"
                                                        style="border-radius: 15px"/>
                                                    <button id="" type="submit"
                                                            class="btn btn-success ml-2 btn-comment">
								<span
                                        class="loading-send spinner-border spinner-border-sm mr-2"
                                        role="status" aria-hidden="true" hidden="false"></span>Send
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <th:block th:include="home/_footer"></th:block>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="topic-container" data-toggle="modal"
     tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-content"></div>
    </div>
</div>
</div>
</div>
</div>
<th:block th:include="home/_script"></th:block>
</body>
</html>