@charset "ISO-8859-1";
.hamburger-inner {
	background-color: #495057 !important;
}

.hamburger-inner::before{
	background-color: #495057 !important;
}

.hamburger-inner::after{
	background-color: #495057 !important;
}

.search-icon span::before {
	background: #495057 !important;
}

.search-icon span::after {
	border-color: #495057 !important;
}

.app-header .app-header__content .header-menu .nav-link {
    color: #495057 !important;
}

.app-sidebar__heading {
	color: #495057 !important;
}

.app-footer {
	border-top: 1px solid #e8e7e3;
}

.search-wrapper .close::before {
	background: #495057 !important;
}

.search-wrapper .close::after {
	background: #495057 !important;
}
