<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Model</title>
   	 <th:block th:include="home/_css"></th:block>
<link rel="stylesheet" href="./bootstrap.min.css">
<link rel="stylesheet" type="text/css" 
th:href="@{/css/guide/style.css}">
       

  

</head>
<body translate="no">
 
   <section id="header" class="jumbotron text-center" style="height: 300px">
     <h1 class="display-3">IMPORT JIRA TO EXCEL</h1>
    
</section>
  
<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-12 mb-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Bước 1 : Access vào Jira chứa Capstone của bạn </h2>
      
       
      </div>
      <img src="/image/guide/12.png" alt="" class="card-img-top">
      
     </div>
    </div>
    <br>
      <br>
 <div class="col-lg-12 mb-12" style="margin-top: 20px">
  <div class="card">
     <div class="card-body">
       <h2 class="card-title">Bước 2 : Click vào App chọn BigPicture như hình </h2>
    
    
      </div>
       <img src="/image/guide/13.png" alt="" class="card-img-top">
     
      </div>
    </div>
    <br>
      <br>
    <div class="col-lg-12 mb-12" style="margin-top: 20px">
    <div class="card">
       <div class="card-body">
        <h2 class="card-title">Bước 3 : Tiếp tục click vào nam Capstone của bạn như trong hình  </h2>
        
      </div>
    <img src="/image/guide/14.png" alt="" class="card-img-top">
     
     </div>
    </div>
    <br>
      <br>
    <div class="col-lg-12 mb-12" style="margin-top: 20px">    
      <div class="card">
         <div class="card-body">
        <h2 class="card-title">Bước 4 :Tiếp tục click vào Export như trong hình </h2>
       
    
     
      </div>
    <img src="/image/guide/15.png" alt="" class="card-img-top">
     
     </div>
    </div>
    <br>
      <br>
  <div class="col-lg-12 mb-12" style="margin-top: 20px">
    <div class="card">
       <div class="card-body">
        <h2 class="card-title">Bước 5 : Sau khi click vào Export tiếp tục chọn SLSX để export ra file Excel  </h2>
        
    
     
      </div>
  
    <img src="/image/guide/16.png" alt="" class="card-img-top">
    <img src="/image/guide/17.png" alt="" class="card-img-top">
     
     </div>
    </div>   
  </div>
</div>
</section>
  




 
</body></html>
</html>