<link rel="stylesheet" type="text/css"
      th:href="@{/css/forum/forum.css}">

<div class="pt-3 pl-2" style="max-height: 75vh;overflow-y: auto;cursor: auto">
    <div class="row ml-1 mr-0">
        <div>
            <h3>Messenger</h3>
        </div>
        <div class="ml-auto mr-3">
            <a href="#" id="create-chat"><i class="far fa-edit far-sm pt-1" aria-hidden="true" style="font-size: 18px"></i></a>
        </div>
    </div>
    <hr style="border: 1px solid #999">
    <div class="mess__item py-1 px-2" th:each="authority : ${#authentication.getPrincipal().authorities}"
         th:if="${authority.getAuthority() == 'HeadAuthen' || authority.getAuthority() == 'TrainingDepAuthen'}">
        <div class="content">
            <a href="#" th:onclick="getChatbox([[${chatTrainingDepHeads.id}]]); return false" th:if="${chatTrainingDepHeads.readStatus == 'read'}" id="chat-box-link" th:postId="${chatTrainingDepHeads.id}" class="d-inline-block text-truncate text-secondary"
               style="max-width: 300px;color: black; font-weight: bold;" th:text="${chatTrainingDepHeads.title}" th:title="${chatTrainingDepHeads.title}" ></a>
            <a href="#" th:onclick="getChatbox([[${chatTrainingDepHeads.id}]]); return false" th:if="${chatTrainingDepHeads.readStatus == 'unread'}" id="chat-box-link" th:postId="${chatTrainingDepHeads.id}" class="d-inline-block text-truncate"
               style="max-width: 300px;color: black; font-weight: bold;" th:text="${chatTrainingDepHeads.title}" th:title="${chatTrainingDepHeads.title}" ></a>
            <p style="font-size: 14px" th:text="${chatTrainingDepHeads.type}"></p>
        </div>
    </div>
    <th:block th:each="chat : ${chats}">
        <div class="mess__item py-1 px-2">
            <div class="content">
                <a href="#" th:onclick="getChatbox([[${chat.id}]]); return false" th:if="${chat.readStatus == 'read'}" id="chat-box-link" th:postId="${chat.id}" class="d-inline-block text-truncate text-secondary"
                   style="max-width: 300px;color: black; font-weight: bold;" th:text="${chat.title}" th:title="${chat.title}" ></a>
                <a href="#" th:onclick="getChatbox([[${chat.id}]]); return false" th:if="${chat.readStatus == 'unread'}" id="chat-box-link" th:postId="${chat.id}" class="d-inline-block text-truncate"
                   style="max-width: 300px;color: black; font-weight: bold;" th:text="${chat.title}" th:title="${chat.title}" ></a>
                <p style="font-size: 14px" th:text="${chat.type}"></p>
            </div>
        </div>
    </th:block>
</div>
<div class="mess__footer">

</div>

<script>
    function getChatbox(postId) {
        $.LoadingOverlay("show", {
            size: 50,
            maxSize: 50,
        });
        if(!postId.startsWith("pr") && postId !== 'gr_tr_dep_heads') {
            postId = 'gr_' + postId;
        }
        window.location.href = "/messenger/" + postId;

    }
</script>
<script>
    $('#create-chat').click(function (e) {
        $.ajax({
            url: "/create-chat",
            type: "GET",
            success: function (data) {
                $('#drd-chat-content').html(data);
            },
            error: function (xhr) {
                if (xhr.status == 302 || xhr.status == 200) {
                    window.location.href = "/forum";
                }
            },
        });
    });
</script>
