<style>
    .card-messagebox {
        background-color: #e5e5e5;
        border: none;
        border-radius: 15px;
    }
    .chat-container {
        border-radius: 15px;
    }
    #message {
        border-radius: 15px;
    }
    #btn-send-messagebox{
        border-radius: 15px;
    }
</style>
<div id="chat-page" class="container">
    <div class="chat-container">
        <div class="chat-header">
            <h2 th:text="${title}"></h2>
        </div>
        <ul id="messageArea" class="mb-2">
            <th:block th:each="chat :${chats}">
                <div class="card card-messagebox mb-1" th:if="${chat.content != ''}">
                    <div class="card-body p-0">
                        <li class="chat-message">
                            <i class="far fa-user" style="background-color: #a9b3c9;"></i>
                            <span th:text="${chat.user.username}"></span>
                            <p th:text="${chat.content}"></p>
                        </li>
                    </div>
                </div>
            </th:block>
        </ul>
        <input type="text" id="userLogged" th:value="${loggedUser}" hidden/>
        <div>
            <form id="messagebox" name="messagebox">
                <input type="text" id="postIdForm" th:value="${roomId}" hidden/>
                <div class="form-group">
                    <div class="input-group mx-4" style="width: 95%">
                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="btn btn-success ml-2" id="btn-send-messagebox">Send</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<th:block th:include="home/_script"></th:block>
<script th:src="@{/js/chatting/mychat.js}"></script>
