
<div id="chat-page" class="container">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chatroom [<span id="room-id-display"></span>]</h2>
        </div>
        <ul id="messageArea">
            <th:block th:each="chat :${chats}">
                <div class="card">
                    <div class="card-body">
                        <li class="chat-message">
                            <i class="far fa-user" style="background-color: #a9b3c9;"></i>
                            <span th:text="${chat.user.username}"></span>
                            <p th:text="${chat.content}"></p>
                        </li>
                    </div>
                </div>
            </th:block>
        </ul>
        <input type="text" id="userLogged" th:value="${loggedUser}" hidden/>
        <form id="messagebox" name="messagebox">
            <div class="form-group">
                <div class="input-group mx-4" style="width: 95%">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="btn btn-success ml-2">Send</button>
                </div>
            </div>
        </form>
        <a href="" id="back-to-forum" class="ml-4"><i class="fas fa-caret-left"></i>Forum</a>
    </div>
</div>
<th:block th:include="home/_script"></th:block>
<script th:src="@{/js/chatting/mychat.js}"></script>