
<div id="chatPage" class="container">
    <div class="chat-header">
        <h2>Chatroom [<span id="room-id-display"></span>]</h2>
    </div>
    <div class="waiting">
        We are waiting to enter the room.
    </div>
    <div class="card">
        <div class="card-body">
            <ul id="messageArea">
                <th:block th:each="chat :${chats}">
                    <div class="card">
                        <div class="card-body">
                            <li class="chat-message">
                                <span th:text="${chat.user.username}"></span>
                                <p th:text="${chat.content}"></p>
                            </li>
                        </div>
                    </div>
                </th:block>
            </ul>
        </div>
    </div>

    </ul>
    <input type="text" id="userLogged" th:value="${loggedUser}" hidden/>
    <form id="messagebox" name="messagebox">
        <div class="form-group">
            <label for="message">Enter Message:</label>
            <input type="text" class="form-control" id="message" aria-describedby="name" placeholder="Enter message to chat ....">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
<th:block th:include="home/_script"></th:block>
<script th:src="@{/js/chatting/mychat.js}"></script>