<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div class="card">
    <div class="card-header">
        <strong id="title-modal">Add Product</strong>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="card-body card-block">
        <form id="product-form" method="post" class="form-horizontal" th:object="${product}">
        	<input type="text" id="id" name="id" th:value="${product.id}" hidden="true">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label">Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="name" name="name" placeholder="Enter Name" class="form-control" th:value="${product.name}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="price" class=" form-control-label">Price</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="number" id="price" name="price" placeholder="Enter Price" class="form-control" th:value="${product.price}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="quantity" class=" form-control-label">Quantity</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="number" id="quantity" name="quantity" placeholder="Enter Quantity" class="form-control" th:value="${product.quantity}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="manufacturer" class=" form-control-label">Manufacturer</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="manufacturer" name="manufacturer" placeholder="Enter Manufacturer" class="form-control" th:value="${product.manufacturer}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="discount" class=" form-control-label">Discount</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="number" id="discount" name="discount" placeholder="Enter Discount (%)" class="form-control" th:value="${product.discount}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="description" class=" form-control-label">Description</label>
                </div>
                <div class="col-12 col-md-9">
                    <textarea name="description" id="description" rows="9" placeholder="Enter Description" class="form-control" th:text="${product.description}"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label">Condition</label></div>
                <div class="col col-md-9">
                    <div class="form-check">
                        <div class="radio">
                            <label for="radio1" class="form-check-label ">
                             	<input type="radio" id="radio1" name="condition" value="1" class="form-check-input" th:checked="${product.condition==1 || product.condition==null }?'checked'">New
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radio2" class="form-check-label ">
                                 <input type="radio" id="radio2" name="condition" value="2" class="form-check-input" th:checked="${product.condition==2}?'checked'">Old
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radio3" class="form-check-label ">
                            	<input type="radio" id="radio3" name="condition" value="3" class="form-check-input" th:checked="${product.condition==3}?'checked'">Refurbished
                          	</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="category" class=" form-control-label">Category</label>
                </div>
                <div class="col-12 col-md-9">
    				<select class="form-control" name="category" id="category">
    					<option value="">Select Category</option>
    					<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${product.category?.id==category.id}?'selected'"></option>
    				</select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="file-input" class=" form-control-label">Main image</label></div>
                <div class="col-12 col-md-9">
                    <input type="file" id="file-input" name="file-input" class="form-control-file">
					 <div class="row imageupload sortable" id="product_image" >
					 	<div class="image" th:if="${product.imageMain != null}">
					 		<img th:src="${product.imageMain}">
					 		<input name="image" th:value="${product.imageMain}" hidden="">
					 	</div>	
             		</div>
                </div>
                
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="file-multiple-input" class=" form-control-label">Image</label></div>
                <div class="col-12 col-md-9">
                	<input type="file" id="file-multiple-input" name="file-multiple-input" multiple class="form-control-file">
                	<div class="row imageupload sortable" id="product_slide">
					 	<div class="image" th:each="p : ${product.productImageList}">
					 		<span class="delimage"><i class="fa fa-minus"></i></span>
					 		<img th:src="${p.path}">
					 		<input name="slide" th:value="${p.path}" hidden="">
					 	</div>	
             		</div>
                </div> 
            </div>
            
            <div class="float-right">
                <button type="submit" class="btn btn-outline-success"> Submit </button>
                <button type="reset" class="btn btn-outline-warning"> Reset </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script th:src="@{/js/common/jquery.validate.min.js}"></script>
<script th:src="@{/admin/js/uploadFile.js}"></script>
<script th:src="@{/admin/js/product-validate.js}"></script>

<!-- <script th:src="@{/admin/js/lib/chosen/chosen.jquery.min.js}"></script> -->
<script type="text/javascript">
//  	$("#category").chosen();
	CKEDITOR.replace("description");
// 	 $("#product_slide" ).sortable();
</script>
