<style>
	.gallery img{
		width: 33%;
		height: auto;
		padding: 10px;
	}
	
	#output {
		width: 33%;
		height: auto;
	}
	
	.error {
		font-style: italic !important;
	    font-size: 14px !important;
	    color: red !important;
	}
	
	.obligatory::after{
		content: " *";
		color: red;
	}
</style>
<div class="card" xmlns:th="http://www.thymeleaf.org">
    <div class="card-header">
        <strong id="title-modal">Edit User</strong>
        <button type="button" id ="close" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body card-block">
        <form id="form-add-user" class="form-horizontal"  th:object="${user}" method="post">
        	<input type="hidden" id="id" name="id" th:value="${user.id}"/>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label obligatory">User name</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="hidden" id="userName" name="userName" placeholder="Enter User name" class="form-control" th:value="${user.userName}">
                    <p th:text="${user.userName}"></p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label obligatory">First Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="firstName" name="firstName" placeholder="First Name" class="form-control" th:value="${user.firstName}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label obligatory">Last Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="form-control" th:value="${user.lastName}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label">Birth Date</label>
                </div>
                <div class="col-12 col-md-9">
					<input type="date" class="form-control" id="birthDate" name="birthDate" th:value="${#dates.format(user.birthDate, 'yyyy-MM-dd')}"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label">Gender</label>
                </div>
                <div class="col-12 col-md-9">
					<select name="gender" id="gender" class="form-control">
						<option value="2" th:selected="${user.gender==2}">Please select gender</option>
						<option value="1" th:selected="${user.gender==1}">Male</option>
						<option value="0" th:selected="${user.gender==0}">Female</option>
					</select>
                </div>                
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label obligatory">Phone</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="phone" name="phone" placeholder="Phone" class="form-control" th:value="${user.phone}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label obligatory">Email</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="hidden" id="email" name="email" placeholder="Email" class="form-control" th:value="${user.email}">
                    <p th:text="${user.email}"></p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class=" form-control-label obligatory">Address</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="address" name="address" placeholder="Adress" class="form-control" th:value="${user.address}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="category" class=" form-control-label obligatory">Role</label>
                </div>
                <div class="col-12 col-md-9">
					<div class="form-check">
						<div class="checkbox" th:each="role : ${roles}">
							<label for="checkbox1" class="form-check-label"> 
								<input
									type="checkbox" name="roleName" th:value="${role.name}"
									class="form-check-input" th:checked="${roleNames.contains(role.name)}"/>
									<span th:text="${role.name}"></span>
							</label>
						</div>
					</div>
					<label id="role-error-empty" class="error"></label>
				</div>
           	</div>
           	<div class="form-group" style="text-align: center;">
           		<span id="errorMessage" class="error"></span>
           	</div>
            <div class="float-right">
                <button type="submit" class="btn btn-outline-success"> Submit </button>
                <button type="reset" class="btn btn-outline-warning"> Reset </button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/admin/js/lib/chosen/chosen.jquery.min.js}"></script>
<script th:src="@{/admin/js/user/user-validate.js}"></script>

