<html xmlns:th="http://www.thymeleaf.org">

	
	<div class="modal-dialog modal-lg" role="document" id="edit">
		<div class="modal-content" id="modal-content">
			<div class="card-header">
				<strong id="title-modal">Edit Category</strong>
				<div class="card-body card-block">
					<form id="editCategory" th:action="@{/admin/editCategory}"
						th:object="${category}" method="post"
						enctype="multipart/form-data" class="form-horizontal">
						<input type="text" id="id" name="id"	 class="form-control"
									th:field="*{id}" hidden="true">
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="name" class=" form-control-label">Name</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="text" id="name" name="name"
									placeholder="Enter Name" class="form-control"
									th:field="*{name}">
							</div>
						</div>
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="price" class=" form-control-label">Description</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="text" id="description" name="description"
									placeholder="Enter description" class="form-control"
									th:field="*{description}">
							</div>
						</div>
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="price" class=" form-control-label">Create
									date</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="text"
									class="form-control" readonly="readonly" th:value="*{createDate}">
							</div>
						</div>
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="price" class=" form-control-label">Update
									time</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="text" readonly="readonly" 
									class="form-control" th:value="*{updateTime}">
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="price" class=" form-control-label">Created by</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="text" readonly="readonly" 							
								 class="form-control" th:value="${category.createdBy.userName}">
							</div>
							<!-- Not use ? because createdBy is added already -->
							<!-- ${category.createdBy?.userName} -->							
						</div>
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="price" class=" form-control-label">Update by</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="text" readonly="readonly"
									class="form-control" th:value="${category.updatedBy?.userName}">
							</div>
						</div>
						<div class="float-right">
							<button type="submit" class="btn btn-outline-success">
								Submit</button>
							<button type="reset" class="btn btn-outline-warning">
								Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<script th:src="@{/admin/js/categoryValidate.js}"></script>
</html>
