
<html>
<head>
	<title>Model</title>
	 <th:block th:include="home/_css"></th:block>
<link rel="stylesheet" href="./bootstrap.min.css">
<link rel="stylesheet" type="text/css" 
th:href="@{/css/about/stylemodel.css}">
    	
				
</head>
 <section id="header" class="jumbotron text-center" style="height: 300px; text-align: center;">
     <h1 class="display-3">FPT UNIVERSITY</h1>
     <p class="lead"></p>
    
</section>
    
<h1 class="entry-title" style="text-align: center;">Software Engineering | Agile Development Models</h1>
<body>

	<div id="primary" class="site-content">
		<div id="content" role="main">
                 	<article id="post-210235" class="post-210235 post type-post status-publish format-standard hentry category-software-engineering">
				<header class="entry-header">
						
                          
            						</header>


				<div class="entry-content">
			<p>In earlier days Iterative Waterfall model was very popular to complete a project. But nowadays developers face various problems while using it to develop a software. The main difficulties included handling change requests from customers during project development and the high cost and time required to incorporate these changes. To overcome these drawbacks of Waterfall model, in the mid-1990s the Agile Software Development model was proposed.</p>
<p>The Agile model was primarily designed to help a project to adapt to change requests quickly. So, the main aim of the Agile model is to facilitate quick project completion. To accomplish this task agility is required. Agility is achieved by fitting the process to the project, removing activities that may not be essential for a specific project. Also, anything that is wastage of time and effort is avoided.</p>
<p>Iterative approach is taken and working software build is delivered after each iteration. Each build is incremental in terms of features; the final build holds all the features required by the customer.</p>
<p>Here is a graphical illustration of the Agile Model −</p>
<img src="/image/about/3.jpg" alt="SDLC Agile Model" >
<p>Actually Agile model refers to a group of development processes. These processes share some basic characteristics but do have certain subtle differences among themselves. A few Agile SDLC models are given below:</p>
<ul>
<li>Crystal</li>
<li>Atern</li>
<li>Feature-driven development</li>
<li>Scrum</li>
<li>Extreme programming (XP)</li>
<li>Lean development</li>
<li>Unified process</li>
</ul>
<p>In the Agile model, the requirements are decomposed into many small parts that can be incrementally developed. The Agile model adopts Iterative development. Each incremental part is developed over an iteration. Each iteration is intended to be small and easily manageable and that can be completed within a couple of weeks only. At a time one iteration is planned, developed and deployed to the customers. Long-term plans are not made.<br>
Agile model is the combination of iterative and incremental process models. Steps involve in agile SDLC models are:</p>
<ul>
<li>Requirement gathering</li>
<li>Requirement Analysis</li>
<li>Design</li>
<li>Coding</li>
<li>Unit testing</li>
<li>Acceptance testing</li>
</ul>

<p><strong>Principles of Agile model:</strong></p>
<ul>
<li>To establish close contact with the customer during development and to gain a clear understanding of various requirements, each Agile project usually includes a customer representative on the team. At the end of each iteration stakeholders and the customer representative review, the progress made and re-evaluate the requirements.</li>
<li>Agile model relies on working software deployment rather than comprehensive documentation.</li>
<li>Frequent delivery of incremental versions of the software to the customer representative in intervals of few weeks.</li>
<li>Requirement change requests from the customer are encouraged and efficiently incorporated.</li>
<li>It emphasizes on having efficient team members and enhancing communications among them is given more importance. It is realized that enhanced communication among the development team members can be achieved through face-to-face communication rather than through the exchange of formal documents.</li>
<li>It is recommended that the development team size should be kept small (5 to 9 peoples) to help the team members meaningfully engage in face-to-face communication and have collaborative work environment.</li>
<li>Agile development process usually deploy Pair Programming. In Pair programming, two programmers work together at one work-station. One does coding while the other reviews the code as it is typed in. The two programmers switch their roles every hour or so.</li>
</ul>
<p><strong>Advantages:</strong></p>
<ul>
<li>Working through Pair programming produce well written compact programs which has fewer errors as compared to programmers working alone.</li>
<li>It reduces total development time of the whole project.</li>
<li>Customer representative get the idea of updated software products after each iretation. So, it is easy for him to change any requirement if needed.</li>
</ul>
<p><strong>Disadvantages:</strong></p>
<ul>
<li>Due to lack of formal documents, it creates confusion and important decisions taken during different phases can be misinterpreted at any time by different team members.</li>
<li>Due to absence of proper documentation, when the project completes and the developers are assigned to another project, maintenance of the developed project can become a problem.</li>
</ul>



</body>
</html>