
<html>
<head>
    <title>Model</title>
   	 <th:block th:include="home/_css"></th:block>
<link rel="stylesheet" href="./bootstrap.min.css">
<link rel="stylesheet" type="text/css" 
th:href="@{/css/about/stylemodel.css}">
       
                
</head>
<section id="header" class="jumbotron text-center" style="height: 300px; text-align: center;">
     <h1 class="display-3">FPT UNIVERSITY</h1>
     <p class="lead"></p>
    
</section>
 <h1 class="entry-title" style="text-align: center;">Software Engineering | Iterative Model</h1>
<body>
  <div class="mui-col-md-6 tutorial-content">

<p>In the Iterative model, iterative process starts with a simple implementation of a small set of the software requirements and iteratively enhances the evolving versions until the complete system is implemented and ready to be deployed.</p>
<p>An iterative life cycle model does not attempt to start with a full specification of requirements. Instead, development begins by specifying and implementing just part of the software, which is then reviewed to identify further requirements. This process is then repeated, producing a new version of the software at the end of each iteration of the model.</p>
<h2>Iterative Model - Design</h2>
<p>Iterative process starts with a simple implementation of a subset of the software requirements and iteratively enhances the evolving versions until the full system is implemented. At each iteration, design modifications are made and new functional capabilities are added. The basic idea behind this method is to develop a system through repeated cycles (iterative) and in smaller portions at a time (incremental).</p>
<p>The following illustration is a representation of the Iterative and Incremental model −</p>
<img src="/image/about/6.jpg" alt="SDLC Iterative Model">
<p>Iterative and Incremental development is a combination of both iterative design or iterative method and incremental build model for development. "During software development, more than one iteration of the software development cycle may be in progress at the same time." This process may be described as an "evolutionary acquisition" or "incremental build" approach."</p>
<p>In this incremental model, the whole requirement is divided into various builds. During each iteration, the development module goes through the requirements, design, implementation and testing phases. Each subsequent release of the module adds function to the previous release. The process continues till the complete system is ready as per the requirement.</p>
<p>The key to a successful use of an iterative software development lifecycle is rigorous validation of requirements, and verification &amp; testing of each version of the software against those requirements within each cycle of the model. As the software evolves through successive cycles, tests must be repeated and extended to verify each version of the software.</p>
<h2>Iterative Model - Application</h2>
<p>Like other SDLC models, Iterative and incremental development has some specific applications in the software industry. This model is most often used in the following scenarios −</p>
<ul class="list">
<li><p>Requirements of the complete system are clearly defined and understood.</p></li>
<li><p>Major requirements must be defined; however, some functionalities or requested enhancements may evolve with time.</p></li>
<li><p>There is a time to the market constraint.</p></li>
<li><p>A new technology is being used and is being learnt by the development team while working on the project.</p></li>
<li><p>Resources with needed skill sets are not available and are planned to be used on contract basis for specific iterations.</p></li>
<li><p>There are some high-risk features and goals which may change in the future.</p></li>
</ul>
<h2>Iterative Model - Pros and Cons</h2>
<p>The advantage of this model is that there is a working model of the system at a very early stage of development, which makes it easier to find functional or design flaws. Finding issues at an early stage of development enables to take corrective measures in a limited budget.</p>
<p>The disadvantage with this SDLC model is that it is applicable only to large and bulky software development projects. This is because it is hard to break a small software system into further small serviceable increments/modules.</p>
<p>The advantages of the Iterative and Incremental SDLC Model are as follows −</p>
<ul class="list">
<li><p>Some working functionality can be developed quickly and early in the life cycle.</p></li>
<li><p>Results are obtained early and periodically.</p></li>
<li><p>Parallel development can be planned.</p></li>
<li><p>Progress can be measured.</p></li>
<li><p>Less costly to change the scope/requirements.</p></li>
<li><p>Testing and debugging during smaller iteration is easy.</p></li>
<li><p>Risks are identified and resolved during iteration; and each iteration is an easily managed milestone.</p></li>
<li><p>Easier to manage risk - High risk part is done first.</p></li>
<li><p>With every increment, operational product is delivered.</p></li>
<li><p>Issues, challenges and risks identified from each increment can be utilized/applied to the next increment.</p></li>
<li><p>Risk analysis is better.</p></li>
<li><p>It supports changing requirements.</p></li>
<li><p>Initial Operating time is less.</p></li>
<li><p>Better suited for large and mission-critical projects.</p></li>
<li><p>During the life cycle, software is produced early which facilitates customer evaluation and feedback.</p></li>
</ul>
<p>The disadvantages of the Iterative and Incremental SDLC Model are as follows −</p>
<ul class="list">
<li><p>More resources may be required.</p></li>
<li><p>Although cost of change is lesser, but it is not very suitable for changing requirements.</p></li>
<li><p>More management attention is required.</p></li>
<li><p>System architecture or design issues may arise because not all requirements are gathered in the beginning of the entire life cycle.</p></li>
<li><p>Defining increments may require definition of the complete system.</p></li>
<li><p>Not suitable for smaller projects.</p></li>
<li><p>Management complexity is more.</p></li>
<li><p>End of project may not be known which is a risk.</p></li>
<li><p>Highly skilled resources are required for risk analysis.</p></li>
<li><p>Projects progress is highly dependent upon the risk analysis phase.</p></li>
</ul>
</body>
</html>