
<html>
<head>
	<title>Model</title>
		 <th:block th:include="home/_css"></th:block>
<link rel="stylesheet" href="./bootstrap.min.css">
<link rel="stylesheet" type="text/css" 
th:href="@{/css/about/stylemodel.css}">
    	
				
</head>
<section id="header" class="jumbotron text-center" style="height: 300px; text-align: center;">
     <h1 class="display-3">FPT UNIVERSITY</h1>
     <p class="lead"></p>
    
</section>
<h1 class="entry-title" style="text-align: center;">Software Engineering | RAD Model Models</h1>

<body>
	<div class="mui-col-md-6 tutorial-content">

<p>The <b>RAD (Rapid Application Development)</b> model is based on prototyping and iterative development with no specific planning involved. The process of writing the software itself involves the planning required for developing the product.</p>
<p>Rapid Application Development focuses on gathering customer requirements through workshops or focus groups, early testing of the prototypes by the customer using iterative concept, reuse of the existing prototypes (components), continuous integration and rapid delivery.</p>
<h2>What is RAD?</h2>
<p>Rapid application development is a software development methodology that uses minimal planning in favor of rapid prototyping. A prototype is a working model that is functionally equivalent to a component of the product.</p>
<p>In the RAD model, the functional modules are developed in parallel as prototypes and are integrated to make the complete product for faster product delivery. Since there is no detailed preplanning, it makes it easier to incorporate the changes within the development process.</p>
<p>RAD projects follow iterative and incremental model and have small teams comprising of developers, domain experts, customer representatives and other IT resources working progressively on their component or prototype.</p>
<p>The most important aspect for this model to be successful is to make sure that the prototypes developed are reusable.</p>
<h2>RAD Model Design</h2>
<p>RAD model distributes the analysis, design, build and test phases into a series of short, iterative development cycles.</p>
<p>Following are the various phases of the RAD Model −</p>
<h3>Business Modelling</h3>
<p>The business model for the product under development is designed in terms of flow of information and the distribution of information between various business channels. A complete business analysis is performed to find the vital information for business, how it can be obtained, how and when is the information processed and what are the factors driving successful flow of information.</p>
<h3>Data Modelling</h3>
<p>The information gathered in the Business Modelling phase is reviewed and analyzed to form sets of data objects vital for the business. The attributes of all data sets is identified and defined. The relation between these data objects are established and defined in detail in relevance to the business model.</p>
<h3>Process Modelling</h3>
<p>The data object sets defined in the Data Modelling phase are converted to establish the business information flow needed to achieve specific business objectives as per the business model. The process model for any changes or enhancements to the data object sets is defined in this phase. Process descriptions for adding, deleting, retrieving or modifying a data object are given.</p>
<h3>Application Generation</h3>
<p>The actual system is built and coding is done by using automation tools to convert process and data models into actual prototypes.</p>
<h3>Testing and Turnover</h3>
<p>The overall testing time is reduced in the RAD model as the prototypes are independently tested during every iteration. However, the data flow and the interfaces between all the components need to be thoroughly tested with complete test coverage. Since most of the programming components have already been tested, it reduces the risk of any major issues.</p>
<p>The following illustration describes the RAD Model in detail.</p>
<img src="/image/about/5.jpg" alt="SDLC RAD Model" style="cursor: pointer;">
<h2>RAD Model Vs Traditional SDLC</h2>
<p>The traditional SDLC follows a rigid process models with high emphasis on requirement analysis and gathering before the coding starts. It puts pressure on the customer to sign off the requirements before the project starts and the customer doesn’t get the feel of the product as there is no working build available for a long time.</p>
<p>The customer may need some changes after he gets to see the software. However, the change process is quite rigid and it may not be feasible to incorporate major changes in the product in the traditional SDLC.</p>
<p>The RAD model focuses on iterative and incremental delivery of working models to the customer. This results in rapid delivery to the customer and customer involvement during the complete development cycle of product reducing the risk of non-conformance with the actual user requirements.</p>
<h2>RAD Model - Application</h2>
<p>RAD model can be applied successfully to the projects in which clear modularization is possible. If the project cannot be broken into modules, RAD may fail.</p>
<p>The following pointers describe the typical scenarios where RAD can be used −</p>
<ul class="list">
<li><p>RAD should be used only when a system can be modularized to be delivered in an incremental manner.</p></li>
<li><p>It should be used if there is a high availability of designers for Modelling.</p></li>
<li><p>It should be used only if the budget permits use of automated code generating tools.</p></li>
<li><p>RAD SDLC model should be chosen only if domain experts are available with relevant business knowledge.</p></li>
<li><p>Should be used where the requirements change during the project and working prototypes are to be presented to customer in small iterations of 2-3 months.</p></li>
</ul>
<h2>RAD Model - Pros and Cons</h2>
<p>RAD model enables rapid delivery as it reduces the overall development time due to the reusability of the components and parallel development. RAD works well only if high skilled engineers are available and the customer is also committed to achieve the targeted prototype in the given time frame. If there is commitment lacking on either side the model may fail.</p>
<p>The advantages of the RAD Model are as follows −</p>
<ul class="list">
<li><p>Changing requirements can be accommodated.</p></li>
<li><p>Progress can be measured.</p></li>
<li><p>Iteration time can be short with use of powerful RAD tools.</p></li>
<li><p>Productivity with fewer people in a short time.</p></li>
<li><p>Reduced development time.</p></li>
<li><p>Increases reusability of components.</p></li>
<li><p>Quick initial reviews occur.</p></li>
<li><p>Encourages customer feedback.</p></li>
<li><p>Integration from very beginning solves a lot of integration issues.</p></li>
</ul>
<p>The disadvantages of the RAD Model are as follows −</p>
<ul class="list">
<li><p>Dependency on technically strong team members for identifying business requirements.</p></li>
<li><p>Only system that can be modularized can be built using RAD.</p></li>
<li><p>Requires highly skilled developers/designers.</p></li>
<li><p>High dependency on Modelling skills.</p></li>
<li><p>Inapplicable to cheaper projects as cost of Modelling and automated code generation is very high.</p></li>
<li><p>Management complexity is more.</p></li>
<li><p>Suitable for systems that are component based and scalable.</p></li>
<li><p>Requires user involvement throughout the life cycle.</p></li>
<li><p>Suitable for project requiring shorter development times.</p></li>
</ul>

</body>
</html>