
<html>
<head>
	<title>Model</title>
		 <th:block th:include="home/_css"></th:block>
<link rel="stylesheet" href="./bootstrap.min.css">
<link rel="stylesheet" type="text/css" 
th:href="@{/css/about/stylemodel.css}">
    	
</head>
<section id="header" class="jumbotron text-center" style="height: 300px; text-align: center;">
     <h1 class="display-3">FPT UNIVERSITY</h1>
     <p class="lead"></p>
    
</section>
<h1 class="entry-title" style="text-align: center;">Software Engineering | SDLC V-Model</h1>
<body>
	<div id="primary" class="site-content">
		<div id="content" role="main">
              <article id="post-211788" class="post-211788 post type-post status-publish format-standard hentry category-software-engineering">
			
					
				<div class="entry-content">
			<p>The V-model is a type of SDLC model where process executes in a sequential manner in V-shape. It is also known as Verification and Validation model. It is based on the association of a testing phase for each corresponding development stage. Development of each step directly associated with the testing phase. The next phase starts only after completion of the previous phase i.e. for each development activity, there is a testing activity corresponding to it.</p>
<p align="center"><img src="/image/about/4.png" alt="V-Model" title="Click to enlarge" style="cursor: pointer;"></p>
<p><strong>Verification:</strong> It involves static analysis technique (review) done without executing code. It is the process of evaluation of the product development phase to find whether specified requirements meet.</p>
<p><strong>Validation:</strong> It involves dynamic analysis technique (functional, non-functional), testing done by executing code. Validation is the process to evaluate the software after the completion of the development phase to determine whether software meets the customer expectations and requirements.</p>
<p><strong>Design Phase:</strong></p>
<ul>
<li><strong>Requirement Analysis:</strong> This phase contains detailed communication with the customer to understand their requirements and expectations. This stage is known as Requirement Gathering.</li>
<li><strong>System Design:</strong> This phase contains the system design and the complete hardware and communication setup for developing product.</li>
<li><strong>Architectural Design:</strong> System design is broken down further into modules taking up different functionalities. The data transfer and communication between the internal modules and with the outside world (other systems) is clearly understood.</li>
<li><strong>Module Design:</strong> In this phase the system breaks dowm into small modules. The detailed design of modules is specified, also known as Low-Level Design (LLD).</li>
</ul>
<p><strong>Testing Phases:</strong></p>
<ul>
<li><strong>Unit Testing:</strong> Unit Test Plans are developed during module design phase. These Unit Test Plans are executed to eliminate bugs at code or unit level.</li>
<li><strong>Integration testing:</strong> After completion of unit testing Integration testing is performed. In integration testing, the modules are integrated and the system is tested. Integration testing is performed on the Architecture design phase. This test verifies the communication of modules among themselves.</li>
<li><strong>System Testing:</strong> System testing test the complete application with its functionality, inter dependency, and communication.It tests the functional and non-functional requirements of the developed application.</li>
<li><strong>User Acceptance Testing (UAT):</strong> UAT is performed in a user environment that resembles the production environment. UAT verifies that the delivered system meets user’s requirement and system is ready for use in real world.</li>
</ul>
<p><strong>Industrial Challange:</strong> As the industry has evolved, the technologies have become more complex, increasingly faster, and forever changing, however, there remains a set of basic principles and concepts that are as applicable today as when IT was in its infancy.</p>
<ul>
<li>Accurately define and refine user requirements.</li>
<li>Design and build an application according to the authorized user requirements.</li>
<li>Validate that the application they had built adhered to the authorized business requirements.</li>
</ul>
<p><strong>Principles of V-Model:</strong> </p>
<ul>
<li><strong>Large to Small:</strong> In V-Model, testing is done in a hierarchical perspective, For example, requirements identified by the project team, create High-Level Design, and Detailed Design phases of the project. As each of these phases is completed the requirements, they are defining become more and more refined and detailed.</li>
<li><strong>Data/Process Integrity:</strong> This principle states that the successful design of any project requires the incorporation and cohesion of both data and processes. Process elements must be identified at each and every requirements.</li>
<li><strong>Scalability:</strong> This principle states that the V-Model concept has the flexibility to accommodate any IT project irrespective of its size, complexity or duration.</li>
<li><strong>Cross Referencing:</strong> Direct correlation between requirements and corresponding testing activity is known as cross-referencing.</li>
<li><strong>Tangible Documentation:</strong> This principle states that every project needs to create a document. This documentation is required and applied by both the project development team and the support team. Documentation is used to maintaining the application once it is available in a production environment.</li>
</ul>
<p><strong>Why preferred?</strong></p>
<ul>
<li>It is easy to manage due to the rigidity of the model. Each phase of V-Model has specific deliverables and a review process.</li>
<li>Proactive defect tracking – that is defects are found at early stage.</li>
</ul>
<p><strong>When to use?</strong></p>
<ul>
<li>Where requirements are clearly defined and fixed.</li>
<li>The V-Model is used when ample technical resources are available with technical expertise.</li>
</ul>
<p><strong>Advantages:</strong></p>
<ul>
<li>This is a highly disciplined model and Phases are completed one at a time.</li>
<li>V-Model is used for small projects where project requirements are clear.</li>
<li>Simple and easy to understand and use.</li>
<li>This model focuses on verification and validation activities early in the life cycle thereby enhancing the       probability of building an error-free and good quality product.</li>
<li>It enables project management to track progress accurately.</li>
</ul>
<p><strong>Disadvantages:</strong></p>
<ul>
<li>High risk and uncertainty.</li>
<li>It is not a good for complex and object-oriented projects.</li>
<li>It is not suitable for projects where requirements are not clear and contains high risk of changing.</li>
<li>This model does not support iteration of phases.</li>
<li>It does not easily handle concurrent events.</li>
</ul>
</body>
</html>