<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Login</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">

<th:block th:include="home/_css"></th:block>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
<link th:href="@{/css/login/login.css}" rel="stylesheet">
<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
					<img src= "/image/logo2.png"/>
		</div>
	</div>
	<div class="container" style="padding-left: 254px;padding-top: 85px;">
		<h1>Capstone Project Management Login</h1>
		<p>
			Helping the school to have the tools to register and manage project
			making and grading while <br />making it as easy, convenient and
			fast as possible for students, teachers, and training rooms.
		</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4"  > </div>
				<div class="col-sm-4" style="padding-top: 30px; padding-left: 60px;">
					<div>
						<a      class="btn btn-block btn-social btn-google customBtn"
								href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=https://fcpm.herokuapp.com/login-google&response_type=code
    					&client_id=50901989767-2qnm5s7kb7b8m7r3s9ulb3btitgkmbcv.apps.googleusercontent.com&approval_prompt=force">
							<span
								class="fa fa-google width42px"></span> Sign in with Google
						</a>
					</div>
				</div>
			<div class="col-sm-4">
			</div>

		
		</div>

	</div>
	<th:block th:include="home/_script"></th:block>
</body>
</html>

