@charset "ISO-8859-1";

#header {
  background: url(/image/about/header.jpg) center center / cover no-repeat ;
}
p{
	color: #d68f28;
}
h5{
	color: #81a983;
}
img{
	height: 250px;
}
.card-body{
	height: 100%;
}
.detal{
	margin-top: 26%;
  
    margin-left: -12%;
}