<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Access Denied</title>
<style>
	.gallery img {
		width: 33%;
		height: auto;
		padding: 10px;
	}
	
	#output {
		width: 33%;
		height: auto;
	}
	
	.error {
		font-style: italic !important;
		font-size: 14px !important;
		color: red !important;
	}
	
	.obligatory::after {
		content: " *";
		color: red;
	}
	
	.form-control{
		color: #495057 !important;
	}
	
	input[type=text], input[type=password] {
		margin: 0px !important;
		padding: 6px !important;
	}
</style>

</head>

<body>
	<th:block th:include="/home/_css"></th:block>
	<th:block th:include="/home/_header"></th:block>
	<div class="breadcrumbs">
		<div class="container">
			<a th:href="@{/}">Home</a>
			<i class="fa fa-angle-right"></i>
			<a th:href="@{/user/user-profile}">My profile</a>
		</div>
	</div>
	
	<div style="width: 35%; margin: 0px auto;">
		<div class="card-body card-block">
			<form id="form-change-password" action="" class="form-horizontal"  method="post">
				<div class="row form-group">
					<div class="col col-md-3">
						<label for="oldPassword" class=" form-control-label obligatory">Old password</label>
					</div>
					<div class="col-12 col-md-9">
						<input type="password" id="oldPassword" name="oldPassword"
							placeholder="Old password" class="form-control"/>
					</div>
				</div>
				<div class="row form-group">
					<div class="col col-md-3">
						<label for="newPassword" class=" form-control-label obligatory">New password</label>
					</div>
					<div class="col-12 col-md-9">
						<input type="password" id="newPassword" name="newPassword"
							placeholder="New password" class="form-control"/>
					</div>
				</div>
				<div class="row form-group">
					<div class="col col-md-3">
						<label for="confirmNewPassword" class=" form-control-label obligatory">Confirm new password</label>
					</div>
					<div class="col-12 col-md-9">
						<input type="password" id="confirmNewPassword" name="confirmNewPassword"
							placeholder="Confirm new password" class="form-control"/>
					</div>
				</div>
				<div class="form-group" style="text-align: center;">
					<span id="errorMessage" class="error"></span>
				</div>
				<div class="float-right">
					<button type="submit" class="btn btn-outline-success">
						Submit</button>
					<button type="reset" class="btn btn-outline-warning">
						Reset</button>
				</div>
			</form>
		</div>
	</div>
	<th:block th:include="/home/_footer"></th:block>	
	<th:block th:include="/home/_js"></th:block>
	<script th:src="@{/home/js/modal.js}"></script>
	<script th:src="@{/user/changePassword.js}"></script>
	
<script type="text/javascript">

		
</script>
</body>
</html>