<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Login</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">

<th:block th:include="home/_css"></th:block>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
<link th:href="@{/css/login/login.css}" rel="stylesheet">
<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
					<img src= "/image/logo2.png"/>
		</div>
	</div>
	<div class="container text-center" >
		<h1>Capstone Project Management Login</h1>
		<p>
			Helping the school to have the tools to register and manage project
			making and grading while <br />making it as easy, convenient and
			fast as possible for students, teachers, and training rooms.
		</p>

	</div>
	<div class="container">

		<div class="d-flex justify-content-center">
			<div>
				<a      class="btn btn-block btn-social btn-google customBtn"
						href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/login-google&response_type=code
				&client_id=129727949930-69qmp90rob83tsnqvqnekmkhb9qpat54.apps.googleusercontent.com&approval_prompt=force">
					<span
						class="fa fa-google width42px"></span> Sign in with Google
				</a>
			</div>

		</div>
		<div class="d-flex justify-content-center">
			<span class="text-danger" th:text="${error}"></span>
		</div>

	</div>
	<th:block th:include="home/_script"></th:block>
</body>
</html>

