<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <th:block th:include="home/_css"></th:block>
<body>
<div class="page-wrapper">
    <div class="page-container">
        <th:block th:include="home/_header"></th:block>
        <th:block th:include="home/_header-mobile"></th:block>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Dashboard</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        <div class="w-80 p-1" id="content-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="au-card chart-percent-card">
                                        <div class="au-card-inner">
                                            <h3 class="title-2 tm-b-5 ml-4">The progress of the projects</h3>
                                            <div class="row no-gutters">
                                                <div class="col-xl-4 ml-4">
                                                    <div class="chart-note-wrap">
                                                        <div class="chart-note mr-0 d-block">
                                                            <span class="dot dot--green"></span>
                                                            <span>On schedule</span>
                                                        </div>
                                                        <div class="chart-note mr-0 d-block">
                                                            <span class="dot dot--yellow"></span>
                                                            <span>Waring</span>
                                                        </div>
                                                        <div class="chart-note mr-0 d-block">
                                                            <span class="dot dot--red"></span>
                                                            <span>Serious</span>
                                                        </div>
                                                    </div>
                                                    <div class="percent-chart">
                                                        <canvas id="percent-chart"></canvas>
                                                    </div>
                                                    <input hidden="hidden" id="perOnSchedule" th:value="${StatisticsTotalDTO.totalOnSchedule}">
                                                    <input hidden="hidden" id="perWarning" th:value="${StatisticsTotalDTO.totalWarning}">
                                                    <input hidden="hidden" id="perSerious" th:value="${StatisticsTotalDTO.totalSerious}">
                                                </div>
                                                <div class="col-xl-7 mb-3">
                                                    <div class="top-campaign w-75 float-right"
                                                         style="background-color: #f5f5f5">
                                                        <h3 class="title-3 m-b-30">Statistics</h3>
                                                        <div class="table-responsive">
                                                            <table class="table table-top-campaign">
                                                                <tbody>
                                                                <tr>
                                                                    <td>1. Number of project</td>
                                                                    <td><p th:text="${StatisticsTotalDTO.numProject}"></p></td>
                                                                </tr>
                                                                </tr>
                                                                <tr>
                                                                    <td>2. On schedule</td>
                                                                    <td><p th:text="${StatisticsTotalDTO.countOnSchedule}"></p></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3. Warning</td>
                                                                    <td><p th:text="${StatisticsTotalDTO.countWarning}"></p></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>4. Serious</td>
                                                                    <td><p th:text="${StatisticsTotalDTO.countSerious}"></p></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-data__tool">
                                <div class="table-data__tool-left d-flex">
                                    <div class="rs-select2--light rs-select2--md">

                                        <select class="js-select2" name="property">
                                            <option selected="selected">All semester</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="time">
                                            <option selected="selected">All Site</option>
                                            <option value="">3 Days</option>
                                            <option value="">1 Week</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>

                            </div>
                            <!-- STATISTIC-->
                            <div class="row">
                                <div class="col-md-4" th:each="list_statistic : ${statisticsPage}">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong class="card-title"> <p th:text="${list_statistic.capstoneProject.name}"></p>
                                                <small th:if="${list_statistic.timeTrackingCurrent < 50}">
                                                    <span class="badge badge-danger float-right mt-1">Serious</span>
                                                </small>
                                                <small th:if="${list_statistic.timeTrackingCurrent >= 50 && list_statistic.timeTrackingCurrent <80 }">
                                                    <span class="badge badge-warning float-right mt-1">Warning</span>
                                                </small>
                                                <small th:if="${list_statistic.timeTrackingCurrent >= 80 }">
                                                    <span class="badge badge-success float-right mt-1">On Schedule</span>
                                                </small>
                                            </strong>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <table class="table table-top-campaign">
                                                    <tbody>
                                                        <tr>
                                                            <td>Start Date :</td>
                                                            <td><p th:text="${#dates.format(list_statistic.startDate, 'yyyy-MMM-dd')}"></p></td>
                                                        </tr>
                                                        <tr>
                                                            <td>End Date :</td>
                                                            <td><p th:text="${#dates.format(list_statistic.endDate, 'yyyy-MMM-dd')}"></p></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Status : </td>
                                                            <td>
                                                                <div  class="sp-tag sp-lozenge" style="background-color: rgb(122, 134, 154);
                                                                    color: rgb(255, 255, 255);">
                                                                    <p th:text="${#numbers.formatDecimal(list_statistic.timeTrackingTodo,0,2)+'%'}"
                                                                       th:title="'To Do'">
                                                                    </p>
                                                                </div>
                                                                <div  class="sp-tag sp-lozenge" style="background-color: rgb(0, 82, 204); color: rgb(255, 255, 255);">
                                                                    <p th:text="${#numbers.formatDecimal(list_statistic.timeTrackingProgress,0,2)+'%'}" th:title="'In Progress'"></p>
                                                                </div>
                                                                <div  class="sp-tag sp-lozenge" style="background-color: rgb(0, 135, 90); color: rgb(255, 255, 255);">
                                                                    <p th:text="${#numbers.formatDecimal(list_statistic.timeTrackingDone,0,2)+'%'}" th:title="'Done'"></p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                            </table>
                                            </p>
                                            <hr>
                                            <a class="pull-right mr-1 mt-1" th:href="@{'/db/task-detail/' + ${list_statistic.capstoneProject.id}}" target="_blank">Detail</a>
                                        </div>
                                    </div>
                                </div>


                    </div>
                    <!-- END STATISTIC-->
                            <div style="display: flex; justify-content: center; padding-top: 20px; margin-bottom: 20px">
                                <nav aria-label="Page navigation">
                                    <ul th:if="${statisticsPage.totalPages > 1}"
                                        class="pagination w-75 justify-content-end">
                                        <th:block th:each="pageNumber : ${pageNumbers}">
                                            <li th:class="${pageNumber==statisticsPage.number + 1} ? active + ' ' + page-item : page-item">
                                                <a th:href="@{/db/dashboard(size=${statisticsPage.size}, page=${pageNumber})}"
                                                   th:text=${pageNumber}
                                                   th:class="page-link">
                                                </a>
                                            </li>
                                        </th:block>
                                    </ul>
                                </nav>
                            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <th:block th:include="home/_footer"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<th:block th:include="home/_script"></th:block>
</body>
</html>
