<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div>
    <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4" th:each="list_statistic : ${statisticsPage}">
            <div class="card" style="height: 405px; width: 380px;" >
                <div class="card-header" >
                    <strong class="card-title"> <p th:text="${list_statistic.capstoneProject.name}"></p>
                        <small th:if="${list_statistic.timeTrackingCurrent < 50}">
                            <span class="badge badge-danger float-right mt-1">Serious</span>
                        </small>
                        <small th:if="${list_statistic.timeTrackingCurrent >= 50 && list_statistic.timeTrackingCurrent <80 }">
                            <span class="badge badge-warning float-right mt-1">Warning</span>
                        </small>
                        <small th:if="${list_statistic.timeTrackingCurrent >= 80 }">
                            <span class="badge badge-success float-right mt-1">On Schedule</span>
                        </small>
                    </strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <table class="table table-top-campaign">
                            <tbody>
                            <tr>
                                <td >Name Vietnamese:</td>
                                <td >
                    <p th:text="${list_statistic.getCapstoneProject().nameVi}" />
                    </td>
                    </tr>
                    <tr>
                        <td>Project Participants:</td>
                        <td>
                            <th:block th:each="item,iState : ${list_statistic.getCapstoneProject().getCapstoneProjectDetails()}">
                                <a  th:href="@{'/user/' +
                                                                             ${list_statistic.getCapstoneProject().getCapstoneProjectDetails().get(iState.count -1).getUser().id}}" target="_blank">
                                    <p th:text="${list_statistic.getCapstoneProject().getCapstoneProjectDetails().get(iState.count -1).getUser().getUsername()}" />
                                </a>
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <td>Status: </td>
                        <td class="d-flex justify-content-end">
                            <div  class="sp-tag sp-lozenge px-2" style="background-color: rgb(122, 134, 154);
                                                                            color: rgb(255, 255, 255);">
                                <p th:text="${#numbers.formatDecimal(list_statistic.timeTrackingTodo,0,2)+'%'}"
                                   th:title="'To Do'">
                                </p>
                            </div>
                            <div  class="sp-tag sp-lozenge mx-2 px-2" style="background-color: rgb(0, 82, 204); color: rgb(255, 255, 255);">
                                <p th:text="${#numbers.formatDecimal(list_statistic.timeTrackingProgress,0,2)+'%'}" th:title="'In Progress'"></p>
                            </div>
                            <div  class="sp-tag sp-lozenge px-2" style="background-color: rgb(0, 135, 90); color: rgb(255, 255, 255);">
                                <p th:text="${#numbers.formatDecimal(list_statistic.timeTrackingDone,0,2)+'%'}" th:title="'Done'"></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                    </p>
                    <hr>
                    <a class="pull-right mr-1 mt-1" th:href="@{'/db/task-detail/' + ${list_statistic.capstoneProject.id}}" target="_blank">Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="display: flex; justify-content: center; padding-top: 20px; margin-bottom: 20px">
            <nav aria-label="Page navigation">
                <ul th:if="${statisticsPage.totalPages > 1}"
                    class="pagination w-75 justify-content-end">
                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <li th:class="${pageNumber==statisticsPage.number + 1} ? active + ' ' + page-item : page-item">
                            <a th:href="@{/db/dashboard(size=${statisticsPage.size}, page=${pageNumber})}"
                               th:text=${pageNumber}
                               th:class="page-link">
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </div>
</div>