
<html>
<head>
	<title>Model</title>
		 <th:block th:include="home/_css"></th:block>
<link rel="stylesheet" href="./bootstrap.min.css">
<link rel="stylesheet" type="text/css" 
th:href="@{/css/about/stylemodel.css}">
    
</head>
<section id="header" class="jumbotron text-center" style="height: 300px; text-align: center;">
     <h1 class="display-3">FPT UNIVERSITY</h1>
     <p class="lead"></p>
    
</section>
<h1 class="entry-title" style="text-align: center;">Software Engineering | Classical Waterfall Model</h1>
<body>
	<div id="primary" class="site-content">
		<div id="content" role="main">
                       <article id="post-187275" class="post-187275 post type-post status-publish format-standard hentry category-software-engineering">

				<div class="entry-content">
			<p>Classical waterfall model is the basic <strong>software development life cycle</strong> model. It is very simple but idealistic. Earlier this model was very popular but nowadays it is not used. But it is very important because all the other software development life cycle models are based on the classical waterfall model.<br>
Classical waterfall model divides the life cycle into a set of phases. This model considers that one phase can be started after completion of the previous phase. That is the output of one phase will be the input to the next phase. Thus the development process can be considered as a sequential flow in the waterfall. Here the phases do not overlap with each other. The different sequential phases of the classical waterfall model are shown in the below figure:<br>
<img src="/image/about/1.png" alt="" width="100%" height="768" title="Click to enlarge" style="cursor: pointer;" ></p>
<p>Let us now learn about each of these phases in brief details:</p>
<ol>
<li>
<strong>Feasibility Study</strong>: The main goal of this phase is to determine whether it would be financially and technically feasible to develop the software.<br>
The feasibility study involves understanding the problem and then determine the various possible strategies to solve the problem. These different identified solutions are analyzed based on their benefits and drawbacks, The best solution is chosen and all the other phases are carried out as per this solution strategy.
</li>
<li>
<strong>Requirements analysis and specification</strong>: The aim of the requirement analysis and specification phase is to understand the exact requirements of the customer and document them properly. This phase consists of two different activities.<p></p>
<ul>
<li>
<strong>Requirement gathering and analysis:</strong> Firstly all the requirements regarding the software are gathered from the customer and then the gathered requirements are analyzed. The goal of the analysis part is to remove incompleteness (an incomplete requirement is one in which some parts of the actual requirements have been omitted) and inconsistencies (inconsistent requirement is one in which some part of the requirement contradicts with some other part).</li>
<li>
<strong>Requirement specification:</strong> These analyzed requirements are documented in a software requirement specification (SRS) document. SRS document serves as a contract between development team and customers. Any future dispute between the customers and the developers can be settled by examining the SRS document.</li>
</ul>
</li>
<li>
<strong>Design</strong>: The aim of the design phase is to transform the requirements specified in the SRS document into a structure that is suitable for implementation in some programming language.
</li>
<li>
<strong>Coding and Unit testing</strong>: In coding phase software design is translated into source code using any suitable programming language. Thus each designed module is coded. The aim of the unit testing phase is to check whether each module is working properly or not.
</li>
<li>
<strong>Integration and System testing</strong>: Integration of different modules are undertaken soon after they have been coded and unit tested. Integration of various modules is carried out incrementally over a number of steps. During each integration step, previously planned modules are added to the partially integrated system and the resultant system is tested. Finally, after all the modules have been successfully integrated and tested, the full working system is obtained and system testing is carried out on this.<p></p>
<p>System testing consists three different kinds of testing activities as described below :</p><br>
<ul>
<li>
<strong>Alpha testing:</strong> Alpha testing is the system testing performed by the development team.</li>
<li><strong>Beta testing:</strong> Beta testing is the system testing performed by a friendly set of customers.</li>
<li>
<strong>Acceptance testing:</strong> After the software has been delivered, the customer performed the acceptance testing to determine whether to accept the delivered software or to reject it.</li>
</ul>
</li>
<li>
<strong>Maintainence:</strong> Maintenance is the most important phase of a software life cycle. The effort spent on maintenance is the 60% of the total effort spent to develop a full software. There are basically three types of maintenance :<p></p>
<ul>
<li>
<strong>Corrective Maintenance:</strong> This type of maintenance is carried out to correct errors that were not discovered during the product development phase.</li>
<li>
<strong>Perfective Maintenance:</strong> This type of maintenance is carried out to enhance the functionalities of the system based on the customer’s request.</li>
<li>
<strong>Adaptive Maintenance:</strong> Adaptive maintenance is usually required for porting the software to work in a new environment such as work on a new computer platform or with a new operating system.</li>
</ul>
</li>
</ol>
<p align="center"><strong>Advantages of Classical Waterfall Model</strong></p>
<p>Classical waterfall model is an idealistic model for software development. It is very simple, so it can be considered as the basis for other software development life cycle models. Below are some of the major advantages of this SDLC model:</p>
<ul>
<li>This model is very simple and is easy to understand.</li>
<li>Phases in this model are processed one at a time.</li>
<li>Each stage in the model is clearly defined.</li>
<li>This model has very clear and well undestood milestones.</li>
<li>Process, actions and results are very well documented.</li>
<li>Reinforces good habits: define-before- design,<br>
design-before-code.</li>
<li>This model works well for smaller projects and  projects where requirements are well<br>
understood.</li>
</ul>
<p align="center"><strong>Drawbacks of Classical Waterfall Model</strong></p>
<p>Classical waterfall model suffers from various shortcomings, basically we can’t use it in real projects, but we use other software development lifecycle models which are based on the classical waterfall model. Below are some major drawbacks of this model:</p>
<ul>
<li>
<strong>No feedback path:</strong> In classical waterfall model evolution of a software from one phase to another phase is like a waterfall. It assumes that no error is ever committed by developers during any phases. Therefore, it does not incorporate any mechanism for error correction.
</li>
<li>
<strong>Difficult to accommodate change requests:</strong> This model assumes that all the customer requirements can be completely and correctly defined at the beginning of the project, but actually customers’ requirements keep on changing with time. It is difficult to accommodate any change requests after the requirements specification phase is complete.
</li>
<li>
<strong>No overlapping of phases:</strong> This model recommends that new phase can start only after the completion of the previous phase. But in real projects, this can’t be maintained. To increase the efficiency and reduce the cost, phases may overlap.
</li>
</ul>

</div><!-- #content -->
	</div>

</body>
</html>