.backside .card a {
	font-size: 18px;
	color: #007b5e !important;
}

.frontside .card .card-title, .backside .card .card-title {
	color: #007b5e !important;
}

.frontside .card .card-body img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.popular-news-widget {
	position: relative;
	z-index: 1;
	background-color: #fff;
	padding: 60px 25px;
}

.popular-news-widget h3 {
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: 400;
	color: #ee002d;
}

@media only screen and (max-width: 767px) {
	.popular-news-widget h3 {
		font-size: 24px;
	}
}

.popular-news-widget .single-popular-post {
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
}

.popular-news-widget .single-popular-post h6 {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 1.7;
	font-weight: 500;
}

.popular-news-widget .single-popular-post h6 span {
	margin-right: 15px;
	color: #ee002d;
}

.popular-news-widget .single-popular-post h6:hover, .popular-news-widget .single-popular-post h6:focus
	{
	color: #ee002d;
}

.popular-news-widget .single-popular-post p {
	margin-bottom: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	color: #828282;
	margin-left: 30px;
	line-height: 1;
}

.popular-news-widget .single-popular-post:last-child {
	margin-bottom: 0;
}

.mb-30 {
	margin-bottom: 30px !important;
}