.fa-edit {
    color: #666;
}
.fa-trash-alt {
    color: #666;
}
.fa-comments {
    color: #666;
}
#close-add-form {
    background-color: white !important;
}

#btn-post {
    color: white !important;
}

.btn-outline-warning{
    color: #ffc107 !important;
}

.select2-results__option--highlighted {
    background-color: #63c76a !important;
}

.pagination .page-link {
    color: #666 !important;
}

.pagination .page-item.active .page-link {
    color: white !important;
    background-color: #63c76a !important;
    border-color: #63c76a !important;
}