<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cart</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<th:block th:include="home/_css"></th:block>
	<link rel="stylesheet" type="text/css" th:href="@{/home/styles/cart_styles.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/home/styles/cart_responsive.css}">
</head>

<body>

<div class="super_container">
	
<!-- Header -->
<th:block th:include="home/_header"></th:block>
	
	<div class="breadcrumbs">
		<div class="container">
			<a th:href="@{/}">Home</a>
			<i class="fa fa-angle-right"></i>
			<a th:href="@{/cart}">Cart</a>
		</div>
	</div>
	

	<!-- Content start -->

		<!-- Cart -->

	<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<th:block th:if="${!products.isEmpty()}">
					<div class="cart_container">
						<div class="cart_title">Shopping Cart</div>
						<div class="cart_items">
							<h3 style="color:red" th:text="${message}"></h3>
							<div class="table-content table-responsive">
									
								<table>
									<thead>
										<tr>
											<th class="product-thumbnail">Image</th>
											<th class="product-name">Name</th>
											<th class="product-price">Price</th>
											<th class="product-price">Discount</th>
											<th class="product-quantity">Quantity</th>
											<th class="product-subtotal">Total</th>
											<th class="product-remove "><button class="btn btn-danger delAllCart" type="button">Remove All</button></th>
										</tr>
									</thead>
									<tbody>
									<th:block th:each="product:${products}">
										<tr th:class="${product.quantity> T(Integer).parseInt(product.description)?'table-danger':''}">
											<td class="product-thumbnail"><img th:src="@{${product.imageMain}}" /></td>
											<td class="product-name"><a th:href="@{${'/detail/'+product.id}}" th:text="${product.name}"></a></td>
											<td class="product-price" ><span class="amount" th:text="${T(com.fa.utils.FormatMoney).formartToUS(product.price)}"></span></td>
											<td class="product-price" ><span class="amount" th:text="${product.discount+'%'}"></span></td>
											<td class="product-quantity" ><input type="number" class="cart-book-quantity" th:value="${product.quantity}" th:productId="${product.id}"  th:price="${product.price}" th:discount="${1-product.discount*0.01}" th:productQuantity="${product.description}" th:preQuantity=${product.Quantity}></td>
											<td class="product-subtotal"><span class="total-amount" th:text="${T(com.fa.utils.FormatMoney).formartToUS(T(com.fa.utils.FormatMoney).round(product.price*(100-product.discount)/100.0)*product.quantity)}"><span></td>
											<td class="product-remove"><a href="#" class="remove-product" th:productId="${product.id}"><i class="fa fa-times"></i></a></td>
										</tr>
									</th:block>	
								
									</tbody>
								</table>
							</div>
										
								
							</div>
							
						</div>
						
						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">Order Total:</div>
								<div class="order_total_amount" id="total"></div>
							</div>
						</div>

						<div class="cart_buttons">
							<a th:href="@{/cart}"><button type="button" class="button cart_button_clear">Reload cart</button></a>
							<a th:href="@{/checkout}"><button type="button" class="button cart_button_checkout">Check Out</button></a>
						</div>
					</div>
					</th:block>
					<div th:if="${products.isEmpty()}">
						<a th:href="@{/}"><h3 class="ml-3">Your cart is empty. Back to shop</h3></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
						<div class="newsletter_title_container">
							<div class="newsletter_icon"><img th:src="@{/home/images/send.png}" alt=""></div>
							<div class="newsletter_title">Sign up for Newsletter</div>
							<div class="newsletter_text"><p>...and receive %20 coupon for first shopping.</p></div>
						</div>
						<div class="newsletter_content clearfix">
							<form action="#" class="newsletter_form">
								<input type="email" class="newsletter_input" required="required" placeholder="Enter your email address">
								<button class="newsletter_button">Subscribe</button>
							</form>
							<div class="newsletter_unsubscribe_link"><a href="#">unsubscribe</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Content end -->

<th:block th:include="home/_footer"></th:block>

</div>

<th:block th:include="home/_js"></th:block>

</body>

</html>