<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Check Out</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<th:block th:include="home/_css"></th:block>
	<link rel="stylesheet" type="text/css" th:href="@{/home/styles/checkout_styles.css}">
</head>

<body>

<div class="super_container">
	
<!-- Header -->
<th:block th:include="home/_header"></th:block>
	
	<div class="breadcrumbs">
		<div class="container">
			<a th:href="@{/}">Home</a>
			<i class="fa fa-angle-right"></i>
			<a th:href="@{/checkout}">Checkout</a>
		</div>
	</div>
	

	<!-- Content start -->

		<div class="container">
				<!-- row -->
				<form method="post" th:action="@{/checkout}" id="checkout-form">
				<div class="row">
					<div class="col-md-12" th:if="${message!=null}">
						<h3 style="color:red" th:text="${message}"></h3>
					</div>
					<div class="col-md-5">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								<input class="input"  id="customerName" name="customerName" placeholder="Full Name (*)" th:value="${user?.firstName==null?'':user.firstName +' '+user?.lastName==null?'':user.lastName }">
							</div>
							<div class="form-group">
								<input class="input"  id="email" name="email" placeholder="Email" th:value="${user?.email}">
							</div>
							<div class="form-group">
								<input class="input" id="address"  name="address" placeholder="Address (*)" th:value="${user?.address}">
							</div>
							<div class="form-group">
								<input class="input" id="phone"  name="phone" placeholder="Phone (*)" th:value="${user?.phone}">
							</div>
							<div class="form-group m-3" th:if="${loginned!=null&&loginned}">
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="exampleRadios" id="userInfor" value="1" checked>
								  <label class="form-check-label" for="userInfor">
								    Use my information
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="exampleRadios" id="newInfor" value="2">
								  <label class="form-check-label" for="newInfor">
								   Use new information
								  </label>
								</div>
							</div>
						</div>
						<!-- /Billing Details -->

					
					</div>

					<!-- Order Details -->
					<div class="col-md-7 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
							<th:block th:each="product:${products}" >
								<div class="order-col">
									<div><span th:text="${product.quantity+ ' x '}"></span><a th:href="@{'/detail/'+${product.id}}" th:text="${product.name}" target="_blank"></a></div>
									<div th:text="'$ '+${T(com.fa.utils.FormatMoney).formartToUS(T(com.fa.utils.FormatMoney).round(product.price*(100-product.discount)/100.0)*product.quantity)}"></div>
								</div>
							</th:block>
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div th:with="total=${#aggregates.sum(products.![price*quantity*(100-discount)/100])}"><strong class="order-total" th:utext="'$'+${T(com.fa.utils.FormatMoney).formartToUS(T(com.fa.utils.FormatMoney).round(total))}"></strong></div>
							</div>
							
						</div>
						
						<button type="submit" class="btn primary-btn order-submit " id="btnSubmit">Place order</button>
					</div>
					<!-- /Order Details -->
				</div>
				</form>
				<!-- /row -->
			</div>

	<!-- Content end -->

<th:block th:include="home/_footer"></th:block>

</div>

<th:block th:include="home/_js"></th:block>
<script th:src="@{/home/js/checkout.js}"></script>

</body>


</html>