<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>


<th:block th:if="${product!=null}">
   <title th:text=${product.name}></title>
</th:block>
<th:block th:if="${product==null}">
   <title>Product not found</title>
</th:block>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<th:block th:include="home/_css"></th:block>
	<link rel="stylesheet" type="text/css" th:href="@{/home/styles/product_styles.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/home/styles/product_responsive.css}">
</head>

<body>

<div class="super_container">
	
<!-- Header -->
<th:block th:include="home/_header"></th:block>
	
	<div class="breadcrumbs">
		<div class="container">
			<a th:href="@{/}">Home</a>
			<th:block th:if="${product!=null}">
				<i class="fa fa-angle-right"></i>
				<a th:href="@{'/detail/'+${product.category.id}}" th:text="${product.category.name}"></a>
				<i class="fa fa-angle-right"></i>
				<a th:href="@{'/detail/'+${product.id}}" th:text="${product.name}"></a>
			</th:block>
		</div>
	</div>
	
	
	
	<!-- Content start -->
	
	<div class="single_product">
		<div class="container">
			<div class="row">
				<th:block th:if="${product!=null}">
				<!-- Images -->
				<div class="col-lg-2 order-lg-1 order-2">
					<ul th:class="image_list +' '+ ${product.productImageList.size()>2?'over_flow':''}">
						<li th:data-image="@{${product.imageMain}}"><img th:src="@{${product.imageMain}}"></li>
						<th:block th:each="image:${product.productImageList}">
							<li th:data-image="@{${image.path}}"><img th:src="@{${image.path}}"></li>
						<th:block>
					</ul>
				</div>

				<!-- Selected Image -->
				<div class="col-lg-5 order-lg-2 order-1">
					<div class="image_selected"><img th:src="@{${product.imageMain}}"></div>
				</div>

				<!-- Description -->
				<div class="col-lg-5 order-3">
					<div class="product_description">
						<div class="product_category" th:text="${product.category.name}"></div>
						<div class="product_name" th:text="${product.name}"></div>
						<div class="product_property"><span>Item code:</span><th:block th:text="${product.id}" ></th:block></div>
						<div class="product_property"><span>Manuacturer:</span><th:block th:text="${product.manufacturer}" ></th:block></div>
						<div class="product_property"><span>Quanity in stock:</span><th:block th:text="${product.quantity}" ></th:block></div>
						
						<div class="d-flex flex-row">
							<form action="#">

								<div class="product_price" th:text="'$'+${T(com.fa.utils.FormatMoney).formartToUS(T(com.fa.utils.FormatMoney).round(product.price*(100-product.discount)/100.0))}"></div>
								<th:block th:if="${product.discount>0}">
									<span class="discount" th:text="'$'+${T(com.fa.utils.FormatMoney).formartToUS(product.price)}"></span>
									<div class="product_category   mb-3" th:text="${'Tiết kiệm:' + product.discount + '%'}"></div>
								</th:block>
								
								<div class="clearfix" style="z-index: 1000;">
									<!-- Product Quantity -->
									<div class="product_quantity clearfix">
										<span>Quantity: </span>
										<input id="quantity_input" pattern="[0-9]+0*" value="1" >
										<div class="quantity_buttons">
											<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
											<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
										</div>
									</div>
								</div>
								
								<div class="button_container">
								<th:block th:switch="${product.quantity>0}">
									<button th:case="true" type="button" class="button cart_button" th:productId="${product.id}" th:productQuantity="${product.quantity}" th:productName="${product.name}">Add to Cart</button>
									<button th:case="false" type="button" class="button out_of_stock_button" style="opacity: 1;   visibility: visible;" disabled="disabled">Out of stock</button>
								</th:block>
								</div>
								
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-12 order-3 mt-3">
					<th:div class="product_text" th:utext="${product.description}">
						
				</div>
				</div>
			</th:block>
			<th:block th:if="${product==null}">
			  		<h3>Product is not found</h3>
			</th:block>
			</div>
		</div>
	</div>

	<!-- Content end -->

<th:block th:include="home/_footer"></th:block>


<th:block th:include="home/_js"></th:block>
<script th:src="@{/home/js/product_custom.js}"></script>
</body>

</html>