<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<th:block th:include="home/_css"></th:block>
	<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
</style>
</head>

<body>

<div class="super_container">
	
<!-- Header -->
<th:block th:include="home/_header"></th:block>
	


	<!-- Content start -->
<div class="product_panel panel active">
								<div class="featured_slider slider">								
										
										<div class="featured_slider_item" th:each="product,state :${list}" >
										<div class="border_active"></div>
										<div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
											<div class="product_image d-flex flex-column align-items-center justify-content-center">
											<a th:href="@{/detail/{id}(id = ${product.id})}" >
											<img th:src="${product.imageMain}" th:alt="${product.name}">
											</a>
											</div>
											<div class="product_content">
												<div class="product_price discount" th:inline="text"
												th:with="discountPrice=${#numbers.formatCurrency(product.price - ((1.0 * product.discount / 100)*product.price))}">
												 [[${discountPrice}]]												
												<span th:text="${#numbers.formatCurrency(product.price)}"></span></div>
												<div class="product_name"><div>							
												<a th:href="@{/detail/{id}(id = ${product.id})}" 
												th:text="${T(com.fa.utils.Word).getChars(product.name,12)}">
												</a></div></div>
												<div class="product_extras">
													<div class="product_color">
														<input type="radio" checked name="product_color" style="background:#b19c83">
														<input type="radio" name="product_color" style="background:#000000">
														<input type="radio" name="product_color" style="background:#999999">
													</div>
													<button type="button" class="product_cart_button" th:productId="${product.id}" th:productQuantity="${product.quantity}"
													 th:productName="${product.name}">Add to Cart</button>
													
												</div>
											</div>
											<div class="product_fav"><i class="fas fa-heart"></i></div>
											<ul class="product_marks">
												<li class="product_mark product_discount" th:text="-${product.discount} + ' %'"></li>
												<li class="product_mark product_new" >new</li>
											</ul>
										</div>
									</div>							

								</div>
								<div class="featured_slider_dots_cover"></div>
							</div>
	
							<!-- Paging -->
							<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#" ></a>
  <a href="#">&raquo;</a>
</div>
<!-- Paging -->
	<!-- Content end -->

<th:block th:include="home/_footer"></th:block>

</div>

<th:block th:include="home/_js"></th:block>


</body>

</html>