<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Complete Order</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">

<th:block th:include="home/_css"></th:block>
</head>

<body>

	<div class="super_container">

		<!-- Header -->
		<th:block th:include="home/_header"></th:block>



		<!-- Content start -->

		<div class="jumbotron text-center">
			<h1 class="display-3">Thank You!</h1>
			<p class="lead">
				Your order id is: <strong  th:text="${orderId}"></strong>
			</p>
				<p th:if="${sentMail!=null&&sentMail}"><strong>Please check your email</strong> to get more information.</p>
			<hr>
			<p>
				Having trouble? <a href="">Contact us</a>
			</p>
			<p class="lead">
				<a class="btn btn-primary btn-sm"
					th:href="@{/}" role="button">Continue to
					homepage</a>
			</p>
		</div>

		<!-- Content end -->

		<th:block th:include="home/_footer"></th:block>

	</div>

	<th:block th:include="home/_js"></th:block>

</body>

</html>